<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ECCUSBET Web</title>
    <link rel="stylesheet" href="~/css/pageGeneralStyle.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-collapse collapse d-sm-inline-flex justify-content-between" asp-area="" asp-controller="ECCUS" asp-action=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation" style="visibility: hidden;">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="nav-class flex-grow-1">
                        <li><a href="/ECCUS/BemVindo">Início</a></li>
                        <li><a href="/ECCUS/Dimensionamento">Dimensionamento</a></li>
                        <li><a href="/ECCUS/Analise">Análise</a></li>
                        <li><a href="/ECCUS/NosAjude">Nos ajude</a></li>
                        <li><a href="/ECCUS/Desenvolvimento">Desenvolvimento</a></li>
                        <li><a href="/ECCUS/Manual">Manual</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="">
        <main role="">
            @RenderBody()
        </main>
    </div>





    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/pageGeneralStyle.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
