<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECCUSBET | Análise</title>

    <link href="~/css/analise.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        @@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

        @@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

        @@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    </style>
</head>


<body>

    <main class="main-class">
        <section class="analise-container-left">

            <section class="analise">
                <form action="">

                    <h1>Dados da tabela de orçamento</h1>

                    <div class="orcamento-elements">

                        <section class="servicos-div">
                            <label for="">Serviços/Ferramentas/Itens gerais</label>
                            <input type="text">
                        </section>

                        <section class="unidades-div">

                            <section class="unidades">
                                <label for="">Unidades</label>
                                <input type="number">
                            </section>

                            <section class="preco-unidades">
                                <label for="">Preço por unidade</label>
                                <input type="number">
                            </section>

                        </section>

                    </div>


                    <div class="preco-total">
                        <label for="">Preço total</label>
                        <input type="number" disabled placeholder="R$ 00.00">
                    </div>

                    <div class="analise-button">
                        <input type="submit" value="Adicionar">
                    </div>
                </form>

                <div class="analise-img">
                    <img src="../../images/BetExemplo.jpg" alt="">
                </div>
            </section>

        </section>





        <section class="analise-container-right">

            <div class="tabela-orcamento-container">

                <h3>Tabela de orçamento</h3>

                <div class="tabela-de-orcamento">
                    <table>
                        <tr>
                            <th>Serviços/Equipamentos</th>
                            <th>Unidade</th>
                            <th>Preço por unidade</th>
                            <th>Preço Total</th>
                        </tr>

                        <tr>
                            <td>Perfume</td>
                            <td>2%</td>
                            <td>2 reis</td>
                            <td>4 reais</td>
                        </tr>
                    </table>
                </div>

                <div class="tabela-de-orcamento-buttons">
                    <section class="orcamento-buttons">
                        <input type="submit" value="Excluir linha">
                        <input type="submit" value="Custo total">
                    </section>

                    <div class="custo-total-orcamento">
                        <label for="">Custo total: </label><input type="number" disabled placeholder="R$ 00.00">
                    </div>
                </div>
            </div>





            <div class="tabela-de-dimensionamento-container">

                <h3>Dimensionamento</h3>

                <div class="tabela-de-dimensionamento">
                    <table>
                        <tr>
                            <th>
                            <p>Volume útil</p>
                            <input type="text" disabled />
                            </th>


                            <th>
                                <p>Profundidade</p>
                                <input type="text" disabled />
                            </th>


                            <div>
                            <th>
                                <p>Qtd. de pneus</p>
                                <input type="text" disabled />
                            </th>
                            </div>

                            <div>
                                <th>
                                    <p>Comprimento</p>
                                    <input type="text" disabled />
                                </th>
                            </div>

                            <div>
                                <th>
                                    <p>Largura</p>
                                    <input type="text" disabled />
                                </th>
                            </div>
                        </tr>
                </table>
            </div>

               
        </section>
    </main>

</body>
</html>