@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/pageGeneralStyle.css" rel="stylesheet" type="text/css" />
    <title>ECCUSBET</title>

    <style type="text/css">
        @@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

        @@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

        @@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    </style>
</head>

<body>
    <main>
        <div class="main-content">

            <div class="left-side">
                <div class="left-side-logo">
                    <img src="~/images/logo-removebg-preview.png" alt="">
                </div>
            </div>

            <div class="center-side">
                <div class="center-side-text">
                    <div class="center-side-text-tittle">
                        <h1>Seja bem-vindo ao ECCUSBET versão web!</h1>
                    </div>

                    <br>

                    <div class="center-side-credits">
                        <div class="center-side-text-references">
                            <h4>A seguir mostramos o exemplo de uma bacia de evapotranspiração com o seu orçamento, retirado do artigo: <span>IMPLANTAÇÃO DE UM SISTEMA TRATAMENTO DE ESGOTO, ATRAVÉS DE BACIA DE EVAPOTRANSPIRAÇÃO NA COMUNIDADE DE SANTA LUZIA NA ILHA DO BAIXIO, IRANDUBA/AM</span></h4>
                        </div>

                        <div class="center-side-text-credits">
                            <div class="center-side-autor">
                                <h4>Autor: Paulo Ricielli Batista Costa, Graduando de Engenharia Civil, Centro Universitário do Norte - UNINORTE, Manaus, e-mail: pauloricielli@gmail.com.</h4>
                            </div>

                            <div class="center-side-orientador">
                                <h4>Orientador: Mauro Frank Oguino Coelho, Professor Orientador, Centro Universitário do Norte - UNINORTE, Manaus, e-mail: mfocoelho@yahoo.com.br</h4>
                            </div>
                        </div>
                    </div>

                    <div class="custos-dos-materias-empregados-na-bet">
                        <div class="outputs-container">
                            <div class="container-outputs-largura">
                                <div class="outputs-largura">
                                    <label for="">Largura &#40;m&#41;</label>
                                    <br>
                                    <input type="text" disabled>
                                </div>
                            </div>

                            <div class="outputs-comprimento-da-bacia">
                                <div class="outputs-comprimento-da-bacia">
                                    <label for="">Comprimento da bacia &#40;m&#41;</label>
                                    <br>
                                    <input type="text" disabled>
                                </div>
                            </div>

                            <div class="container-outputs-profundidade">
                                <div class="outputs-profundidade">
                                    <label for="">Profundidade &#40;m&#41;</label>
                                    <br>
                                    <input type="text" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="right-side">
                <h3>Custo dos materiais empregados na bet</h3>

                <div class="table-container">
                    <table class="tabela-main-index">
                        <tr>
                            <th>Serviços / Equipamentos</th>
                            <th>UN</th>
                            <th>Quantidade</th>
                            <th>Preço unitário</th>
                            <th>Preço total</th>
                        </tr>

                        <tr>
                            <td>item1</td>
                            <td>item1</td>
                            <td>item1</td>
                            <td>item1</td>
                            <td>item1</td>
                        </tr>

                        <tr>
                            <td>item1</td>
                            <td>item1</td>
                            <td>item1</td>
                            <td>item1</td>
                            <td>item1</td>
                        </tr>

                        <tr>
                            <td>item1</td>
                            <td>item1</td>
                            <td>item1</td>
                            <td>item1</td>
                            <td>item1</td>
                        </tr>

                        <tr>
                            <td>item1</td>
                            <td>item1</td>
                            <td>item1</td>
                            <td>item1</td>
                            <td>item1</td>
                        </tr>

                        <tr>
                            <td>item1</td>
                            <td>item1</td>
                            <td>item1</td>
                            <td>item1</td>
                            <td>item1</td>
                        </tr>

                        <tr>
                            <td>item1</td>
                            <td>item1</td>
                            <td>item1</td>
                            <td>item1</td>
                            <td>item1</td>
                        </tr>

                        <tr>
                            <td>item1</td>
                            <td>item1</td>
                            <td>item1</td>
                            <td>item1</td>
                            <td>item1</td>
                        </tr>

                        <tr>
                            <td>item1</td>
                            <td>item1</td>
                            <td>item1</td>
                            <td>item1</td>
                            <td>item1</td>
                        </tr>

                        <tr>
                            <td>item1</td>
                            <td>item1</td>
                            <td>item1</td>
                            <td>item1</td>
                            <td>item1</td>
                        </tr>

                        <tr>
                            <td>item1</td>
                            <td>item1</td>
                            <td>item1</td>
                            <td>item1</td>
                            <td>item1</td>
                        </tr>

                        <tr>
                            <td>item1</td>
                            <td>item1</td>
                            <td>item1</td>
                            <td>item1</td>
                            <td>item1</td>
                        </tr>

                        <tr>
                            <td>item1</td>
                            <td>item1</td>
                            <td>item1</td>
                            <td>item1</td>
                            <td>item1</td>
                        </tr>

                        <tr>
                            <td colspan="4">item1</td>
                            <td>item1</td>
                        </tr>
                    </table>
                </div>


                <br>
                <br>
                <div class="minha-bet">
                    <button class="minha-bet" value="button">Minha bet</button>
                </div>
            </div>

        </div>







    </main>














    <footer class="footer-class">

        <div class="footer-logo">
            <div class="footer-logo-img">
                <a href="https://instituto-eccus.github.io" target="_blank">
                    <img src="images/logo-removebg-preview.png" alt="">
                </a>
            </div>
        </div>

        <div class="main-footer">
            <div class="footer-content">

                <div class="footer-about-us">
                    <div class="about-us-tittle">
                        <h1>Nossa Missão</h1>
                    </div>
                    <div class="about-us-paragraph">
                        <p>Promover uma ação integrada nas dimensões política, pedagógica e cultural, alcançando as pessoas a um nível local, possibilitando a transformação dos espaços e sua transição para uma cultura da paz e da sustentabilidade.</p>
                    </div>
                </div>

                <div class="footer-links">
                    <div class="footer-links-tittle">
                        <h1>Sobre</h1>
                    </div>
                    <div class="footer-links-list">
                        <ul>
                            <li><a href="#">Inicio</a></li>
                            <li><a href="/ECCUS/Dimensionamento">Dimensionamento</a></li>
                            <li><a href="/Analise">Análise</a></li>
                            <li><a href="/NosAjude">Nos ajude</a></li>
                            <li><a href="/Desenvolvimento">Desenvolvimento</a></li>
                            <li><a href="/Manual">Manual</a></li>                         
                        </ul>
                    </div>

                </div>

                <div class="footer-contact">

                    <div class="footer-contact-tittle">
                        <h1>Contato</h1>
                    </div>

                    <div class="footer-localization">
                        <div class="footer-localization-flex">
                            <span class="footer-localization-img">
                                <img src="https://image.flaticon.com/icons/png/512/1182/1182754.png" alt="">
                            </span>
                            <h4 id="footerLocalizationTitle">Localização</h4>
                        </div>
                        <p><a href="https://goo.gl/maps/ErqAUHadDF4fH8EW8" target="_blank">João Pessoa -  Paraíba, Brasil</a> </p>
                    </div>

                    <div class="footer-phone">
                        <div class="footer-phone-flex">
                            <span class="footer-phone-img">
                                <img src="https://image.flaticon.com/icons/png/512/1182/1182737.png" alt="">
                            </span>
                            <h4 id="footerphoneTitle">Telefone</h4>
                        </div>
                        <p>55+ (83) 99837-8334</p>
                    </div>

                    <div class="footer-email">
                        <div class="footer-email-flex">
                            <span class="footer-email-img">
                                <img src="https://image.flaticon.com/icons/png/512/1182/1182740.png" alt="">
                            </span>
                            <h4 id="footeremailTitle">E-mail</h4>
                        </div>
                        <p>intitutoeccusvoluntariado@gmail.com</p>
                    </div>
                </div>
            </div>

            <div class="footer-copyright">
                <div class="copyright-notes">
                    <h5>Copyright © 2021 | Todos os direitos reservados pelo Instituto ECCUS</h5>
                    <div class="freepik-credits">
                        Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>

                        <div class="freepik-credits">
                            <a href="https://br.freepik.com/vetores/mundo">Mundo vetor criado por freepik - br.freepik.com</a>
                        </div>
                    </div>

                </div>

            </div>
    </footer>





</body>

</html>