<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="desenvolvimento.css">
    <link rel="stylesheet" href="../../pageGeneralStyle.css">
    <link rel="shortcut icon" href="../../images/faviconLOGO.png" type="image/x-icon">
    <link rel="shortcut icon" href="../../images/NicePng_tea-leaves-png_4506999 (1).png" type="image/x-icon">
    <script src="desenvolvimento.js" defer></script>
    <title>ECCUSBET | Desenvolvimento</title>

   
</head>
<body>

    <header class="header-class">  



        <nav class="nav-class">
            <ul>
                <li><a href="../../index.html">Início</a></li>
                <li><a href="../dimensionamentoPage/dimensionamento.html">Dimensionamento</a></li> 
                <li><a href="../analisePage/analise.html">Análise</a></li>
                <li><a href="../nos-ajude/nos-ajude.html">Nos ajude</a></li> 
                <li><a href="desenvolvimento.html">Desenvolvimento</a></li> 
                <li><a href="../manual/manual.html">Manual</a></li> 
                
            </ul>
        </nav>

        <div class="header-logo">
            <img src="../../images/logo.PNG" alt="">
        </div>

   </header>


   <main class="main-class">
        

        <div class="collaboratorsLeftSide">

            <div class="circleLeftSideContainer1">
                <a href="https://www.instagram.com/institutoeccus/?hl=pt-br" target="_blank">
                    <img src="../../images/logo.PNG" alt="">
                </a>
            </div>
        </div>





        <div class="main-textDesenvolvimento">
            <p>Este produto foi desenvolvido inicialmente pelo ECCUSoftware, projeto vinculado a <a href="">ONG Instituto ECCUS</a>, situado em João Pessoa, Paraíba. O projeto tem como objetivo desenvolver soluções para profissionais da ONG e aplicações sob demanda.</p>

            <div class="credits">
                <div class="dev-front-end">
                    <div class="dev-front-end-title">
                        <h3>Desenvolvedores Front-end <span><img src="https://image.flaticon.com/icons/png/512/781/781683.png" alt=""></span></h3>
                    </div>

                    <p>
                        <p> Yago Soares Peixinho de Oliveira </p>
                        <div class="credits-links-desenvolvimento">
                            <div class="link-linkedin-dev-front-end">
                                (<a href="https://www.linkedin.com/in/yagopeixinho/" target="_blank" style="color: #0000FF;">https://www.linkedin.com/in/yagopeixinho/</a>)
                            </div>
                        </div>
                    </p>
                    
                    <p>
                        <p> Yuri Soares Peixinho de Oliveira </p>
                        <div class="credits-links-desenvolvimento"></div>
                        <div class="link-linkedin-dev-front-end">
                            (<a href="https://www.linkedin.com/in/yuripeixinho/" target="_blank" style="color: #0000FF;">https://www.linkedin.com/in/yuripeixinho/</a>)
                        </div>
                    </p>
                </div>
    
                <div class="dev-back-end">
                    <div class="dev-back-end-title">
                        <h3>Desenvolvedores Back-end<span><img src="https://image.flaticon.com/icons/png/512/2166/2166796.png" alt=""></span></h3>
                    </div>

                    <p>
                        <p> Austregíselo Soares de Vasconcelos Junior </p>
                        <div class="credits-links-desenvolvimento"></div>
                        <div class="link-linkedin-dev-back-end">
                            (<a href="https://www.linkedin.com/in/austregiselojr/" target="_blank" style="color: #0000FF;">https://www.linkedin.com/in/austregiselojr/</a>)
                        </div>
                    </p>
                </div>
    
                <div class="collaborators">
                    <div class="collaborators-tittle">
                        <h3>Colaboradores <span><img src="https://image.flaticon.com/icons/png/512/2058/2058768.png" alt=""></span></h3>
                    </div>

                    <p>
                        <p> Vanine Elane Menezes Faria </p>
                        <div class="credits-links-desenvolvimento"></div>
                        <div class="link-linkedin-colaboradores">
                            (<a href="https://www.linkedin.com/in/vanine-farias-501a7b104/" target="_blank" style="color: #0000FF;">https://www.linkedin.com/in/vanine-farias-501a7b104/</a>)
                        </div>
                    </p>

                    <p>
                        <p> Sayonara Andrade Eliziario </p>
                        <div class="credits-links-desenvolvimento"></div>
                        <div class="link-linkedin-colaboradores">
                            (<a href="https://www.linkedin.com/in/sayonara-eliziário-2bb25a116/" target="_blank" style="color: #0000FF;">https://www.linkedin.com/in/sayonara-eliziário-2bb25a116/</a>)
                        </div>
                    </p>   
    

                    <p>
                        <p> Rafael Sanchez Souza </p>
                        <div class="credits-links-desenvolvimento"></div>
                        <div class="link-linkedin-colaboradores">
                            (<a href="https://www.linkedin.com/in/ssraf/" target="_blank" style="color: #0000FF;">https://www.linkedin.com/in/ssraf/</a>)
                        </div>
                    </p>   

                    <p>
                        <p> Igor do Nascimento Quaresma </p>
                        <div class="credits-links-desenvolvimento"></div>
                        <div class="link-linkedin-colaboradores">
                            (<a href="https://www.linkedin.com/in/igor-quaresma-94b308133/" target="_blank" style="color: #0000FF;">https://www.linkedin.com/in/igor-quaresma-94b308133/</a>)
                        </div>
                    </p>   
    
                    <p>
                        <p> Fábio Batista Pereira Maia </p>
                        <div class="credits-links-desenvolvimento"></div>
                        <div class="link-linkedin-colaboradores">
                            (<a href="https://www.linkedin.com/in/fabiobpmaia/" target="_blank" style="color: #0000FF;">https://www.linkedin.com/in/fabiobpmaia/</a>)
                        </div>
                    </p>   
    
                    <p>
                        <p> Ícaro de França Albuquerque </p>
                        <div class="credits-links-desenvolvimento"></div>
                        <div class="link-linkedin-colaboradores">
                            (<a href="https://www.linkedin.com/in/ícaro-albuquerque-065a5a159/" target="_blank" style="color: #0000FF;">https://www.linkedin.com/in/ícaro-albuquerque-065a5a159/</a>)
                        </div>
                    </p>   

                    <p>
                        <p> João Evangelista do Nascimento Filho </p>
                        <div class="credits-links-desenvolvimento"></div>
                        <div class="link-linkedin-colaboradores">
                            (<a href="https://www.linkedin.com/in/joaonasc-filho/" target="_blank" style="color: #0000FF;">https://www.linkedin.com/in/joaonasc-filho/</a>)
                        </div>
                    </p>   
                </div>
            </div>
        
        </div>








        

   </main>









</body>
</html>

