* {
    padding: 0%;
    margin: 0%;
}











/* ========== MAIN CLASS ============= */
.main-class {
    width: 100%;
    display: flex;
    
}

/* ============= COLLABORATORS LEFT SIDE ================= */
.collaboratorsLeftSide {
    flex: 0.78%;
    position: relative;
    animation-name: collaboratorsLeftSide;
    animation-duration: 2s;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
    margin-top: 5%;
}
@keyframes collaboratorsLeftSide {
    from {
        left: -100%;
        visibility: hidden;
    } to {
        left: 0%;
        visibility: visible;
    }
}
.circleLeftSideContainer1 {
    text-align: right;
}
.circleLeftSideContainer1 img {
    width: 70%;
}










/* =========== TEXTO INICIAL =========== */
.main-textDesenvolvimento {
    margin-top: 5%;
    flex: 1.4;
}
.main-textDesenvolvimento p {
    margin: 0% auto;
    width: 60%;
    text-align: center;
    font-family: 'Assistant', sans-serif;
    font-size: 18px;
    position: relative;
    animation-duration: 2s;
    animation-delay: 1.8s;
    visibility: hidden;
    animation-fill-mode: forwards;
    animation-name: mainTextDesenvolvimento;
}
.main-textDesenvolvimento a {
    color: green;
}
@keyframes mainTextDesenvolvimento{
    from {
        bottom: -100%;
        visibility: hidden;
    } to {
        bottom: 0%;
        visibility: visible;
    }
}

/* ============== CREDITS CONTAINER ============== */
.credits {
    position: relative;
    animation-name: credits;
    animation-duration: 2s;
    animation-delay: 1.8s;
    animation-fill-mode: forwards;
    opacity: 0%;

}
.credits a {
    animation-name: credits;
    animation-duration: 2s;
    animation-delay: s;
    animation-fill-mode: forwards;
}
@keyframes credits {
    from {
        bottom: -100%;
        opacity: 100%;

    } to {
        bottom: 0%;
        opacity: 100%;
    }
}


/* ============= DEVS FRONT-END ================ */
.dev-front-end-title {
    display: flex;
    margin-top: 4%;
    text-align: center;
}
.dev-front-end h3 {
    flex: 1;
    font-family: 'Raleway';
    text-transform: uppercase;
}
.dev-front-end span {
    flex: 1;
    margin-left: 1%;
    margin-top: 2%;
}
.dev-front-end img {
    flex: 1;
    width: 3.2%;
    margin-bottom: -1%;
    position: relative;
}
.dev-front-end p {
    margin-top: 1.6%;
    text-align: center;

}

.dev-front-end a {
    font-family: 'Assistant', sans-serif;
    font-size: 18px;
}
.link-linkedin-dev-front-end {
    margin: auto;
    text-align: center;
}

/* ======== DEVS BACK END ========== */
.dev-back-end-title {
    margin-top: 4%;
    display: flex;
    text-align: center;
}
.dev-back-end h3 {
    flex: 1;
    font-family: 'Raleway';
    text-transform: uppercase;
}
.dev-back-end span {
    flex: 1;
    margin-left: 1%;
    margin-top: 2%;
}
.dev-back-end img {
    flex: 1;
    width: 3.2%;
    margin-bottom: -1%;
    position: relative;
}
.dev-back-end p {
    margin-top: 1.6%;
    text-align: center;
}
.dev-back-end a {
    font-family: 'Assistant', sans-serif;
    font-size: 18px;
}
.link-linkedin-dev-back-end {
    margin: auto;
    text-align: center;
}


/* ======= COLLABORATORS ========= */
.collaborators-title {
    display: flex;
}
.collaborators {
    padding-bottom: 6%;
}
.collaborators a {
    font-family: 'Assistant', sans-serif;
    font-size: 18px;
}
.collaborators h3 {
    flex: 1;
    font-family: 'Raleway';
    text-transform: uppercase;
    margin-top: 4%;
    text-align: center;
}
.collaborators span {
    flex: 1;
    margin-left: 1%;
    margin-top: 2%;
}
.collaborators img {
    flex: 1;
    width: 3.2%;
    margin-bottom: -1%;
    position: relative;
}
.collaborators p {
    margin-top: 1%;
    text-align: center;
}
.link-linkedin-colaboradores {
    margin: auto;
    text-align: center;
}

























/* =========================== DISPOSITIVOS MOBILE =========================== */


/*============= MOBILE SMALL =============*/
@media (min-width: 320px) and (max-width: 375px) {

    body {
        overflow: auto;
    }


    .main-class {
        display: inline-block;
        width: 100%;
    }

    .circleLeftSideContainer1 {
        text-align: center;
    }
    .circleLeftSideContainer1 img {
        width: 60%;
        margin-bottom: 10%;
    }

        
    .main-textDesenvolvimento {
        margin-top: 5%;
        width: 100%;
        margin: auto;
    }
    .main-textDesenvolvimento p {
        margin: 0% auto;
        text-align: center;
        font-family: 'Assistant', sans-serif;
        font-size: 16px;
        animation-duration: 2s;
        animation-delay: 1.8s;
        visibility: hidden;
        animation-fill-mode: forwards;
        animation-name: mainTextDesenvolvimento;
        width: 80%;
    }

    /* ============= DEVS FRONT-END ================ */
    .dev-front-end-title {
        display: flex;
        margin-top: 12%;
        text-align: center;
    }
    .dev-front-end h3 {
        flex: 1;
        font-size: 16px;
        font-family: 'Raleway';
        text-transform: uppercase;
    }
    .dev-front-end span {
        flex: 1;
        margin-left: 1%;
        margin-top: 2%;
        display: none;
    }
    .dev-front-end img {
        flex: 1;
        width: 3.2%;
        margin-bottom: -1%;
        position: relative;
    }
    .dev-front-end p {
        margin-top: 1.6%;
        text-align: center;

    }
    .dev-front-end a {
        font-family: 'Assistant', sans-serif;
        font-size: 14px;
        color: green;
    }

    /* ======== DEVS BACK END ========== */
    .dev-back-end-title {
        margin-top: 12%;
        display: flex;
        text-align: center;
    }
    .dev-back-end h3 {
        flex: 1;
        font-family: 'Raleway';
        text-transform: uppercase;
    }
    .dev-back-end span {
        flex: 1;
        margin-left: 1%;
        margin-top: 2%;
        display: none;

    }
    .dev-back-end img {
        flex: 1;
        width: 3.2%;
        margin-bottom: -1%;
        position: relative;
    }
    .dev-back-end p {
        margin-top: 1.6%;
        text-align: center;
    }
    .dev-back-end a {
        font-family: 'Assistant', sans-serif;
        font-size: 14px;
    }


    /* ======= COLLABORATORS ========= */
    .collaborators-title {
        display: flex;
        margin-top: 12%;

    }
    .collaborators {
        padding-bottom: 6%;
    }
    .collaborators a {
        font-family: 'Assistant', sans-serif;
        font-size: 14px;
    }
    .collaborators h3 {
        flex: 1;
        font-family: 'Raleway';
        text-transform: uppercase;
        margin-top: 4%;
        text-align: center;
    }
    .collaborators span {
        flex: 1;
        margin-left: 1%;
        margin-top: 2%;
        display: none;

    }
    .collaborators img {
        flex: 1;
        width: 3.2%;
        margin-bottom: -1%;
        position: relative;
    }
    .collaborators p {
        margin-top: 1%;
        text-align: center;
    }

}


























/* SMARTPHONE MEDIUM */
@media (min-width: 375px) and (max-width: 425px) {
    body {
        overflow: auto;
    }


    .main-class {
        display: inline-block;
        width: 100%;
    }

    .circleLeftSideContainer1 {
        text-align: center;
    }
    .circleLeftSideContainer1 img {
        width: 40%;
        margin-bottom: 10%;
    }

        
    .main-textDesenvolvimento {
        margin-top: 5%;
        width: 100%;
        margin: auto;
    }
    .main-textDesenvolvimento p {
        margin: 0% auto;
        text-align: center;
        font-family: 'Assistant', sans-serif;
        font-size: 16px;
        animation-duration: 2s;
        animation-delay: 1.8s;
        visibility: hidden;
        animation-fill-mode: forwards;
        animation-name: mainTextDesenvolvimento;
        width: 80%;
    }

    /* ============= DEVS FRONT-END ================ */
    .dev-front-end-title {
        display: flex;
        margin-top: 12%;
        text-align: center;
    }
    .dev-front-end h3 {
        flex: 1;
        font-size: 16px;
        font-family: 'Raleway';
        text-transform: uppercase;
    }
    .dev-front-end span {
        flex: 1;
        margin-left: 1%;
        margin-top: 2%;
        display: none;
    }
    .dev-front-end img {
        flex: 1;
        width: 3.2%;
        margin-bottom: -1%;
        position: relative;
    }
    .dev-front-end p {
        margin-top: 1.6%;
        text-align: center;

    }
    .dev-front-end a {
        font-family: 'Assistant', sans-serif;
        font-size: 14px;
        color: green;
    }

    /* ======== DEVS BACK END ========== */
    .dev-back-end-title {
        margin-top: 12%;
        display: flex;
        text-align: center;
    }
    .dev-back-end h3 {
        flex: 1;
        font-family: 'Raleway';
        text-transform: uppercase;
    }
    .dev-back-end span {
        flex: 1;
        margin-left: 1%;
        margin-top: 2%;
        display: none;

    }
    .dev-back-end img {
        flex: 1;
        width: 3.2%;
        margin-bottom: -1%;
        position: relative;
    }
    .dev-back-end p {
        margin-top: 1.6%;
        text-align: center;
    }
    .dev-back-end a {
        font-family: 'Assistant', sans-serif;
        font-size: 14px;
    }


    /* ======= COLLABORATORS ========= */
    .collaborators-title {
        display: flex;
        margin-top: 12%;

    }
    .collaborators {
        padding-bottom: 6%;
    }
    .collaborators a {
        font-family: 'Assistant', sans-serif;
        font-size: 14px;
    }
    .collaborators h3 {
        flex: 1;
        font-family: 'Raleway';
        text-transform: uppercase;
        margin-top: 4%;
        text-align: center;
    }
    .collaborators span {
        flex: 1;
        margin-left: 1%;
        margin-top: 2%;
        display: none;

    }
    .collaborators img {
        flex: 1;
        width: 3.2%;
        margin-bottom: -1%;
        position: relative;
    }
    .collaborators p {
        margin-top: 1%;
        text-align: center;
    }
}



















/* SMARTPHONE LARGER */
@media (min-width: 425px) and (max-width: 768px) {
    body {
        overflow: auto;
    }


    .main-class {
        display: inline-block;
        width: 100%;
    }

    .circleLeftSideContainer1 {
        text-align: center;
    }
    .circleLeftSideContainer1 img {
        width: 30%;
        margin-bottom: 2%;
    }

        
    .main-textDesenvolvimento {
        margin-top: 4%;
        width: 100%;
        margin: auto;
    }
    .main-textDesenvolvimento p {
        margin: 0% auto;
        text-align: center;
        font-family: 'Assistant', sans-serif;
        font-size: 16px;
        animation-duration: 2s;
        animation-delay: 1.8s;
        visibility: hidden;
        animation-fill-mode: forwards;
        animation-name: mainTextDesenvolvimento;
        width: 80%;
    }

    /* ============= DEVS FRONT-END ================ */
    .dev-front-end-title {
        display: flex;
        margin-top: 4%;
        text-align: center;
    }
    .dev-front-end h3 {
        flex: 1;
        font-size: 16px;
        font-family: 'Raleway';
        text-transform: uppercase;
    }
    .dev-front-end span {
        flex: 1;
        margin-left: 1%;
        margin-top: 2%;
        display: none;
    }
    .dev-front-end img {
        flex: 1;
        width: 3.2%;
        margin-bottom: -1%;
        position: relative;
    }
    .dev-front-end p {
        margin-top: 1.6%;
        text-align: center;

    }
    .dev-front-end a {
        font-family: 'Assistant', sans-serif;
        font-size: 14px;
        color: green;
    }

    /* ======== DEVS BACK END ========== */
    .dev-back-end-title {
        margin-top: 4%;
        display: flex;
        text-align: center;
    }
    .dev-back-end h3 {
        flex: 1;
        font-family: 'Raleway';
        text-transform: uppercase;
    }
    .dev-back-end span {
        flex: 1;
        margin-left: 1%;
        margin-top: 2%;
        display: none;

    }
    .dev-back-end img {
        flex: 1;
        width: 3.2%;
        margin-bottom: -1%;
        position: relative;
    }
    .dev-back-end p {
        margin-top: 1.6%;
        text-align: center;
    }
    .dev-back-end a {
        font-family: 'Assistant', sans-serif;
        font-size: 14px;
    }


    /* ======= COLLABORATORS ========= */
    .collaborators-title {
        display: flex;
        margin-top: 12%;

    }
    .collaborators {
        padding-bottom: 6%;
    }
    .collaborators a {
        font-family: 'Assistant', sans-serif;
        font-size: 14px;
    }
    .collaborators h3 {
        flex: 1;
        font-family: 'Raleway';
        text-transform: uppercase;
        margin-top: 4%;
        text-align: center;
    }
    .collaborators span {
        flex: 1;
        margin-left: 1%;
        margin-top: 2%;
        display: none;

    }
    .collaborators img {
        flex: 1;
        width: 3.2%;
        margin-bottom: -1%;
        position: relative;
    }
    .collaborators p {
        margin-top: 1%;
        text-align: center;
    }
}




/* LAPTOP SMALL */
@media (min-width: 768px) and (max-width: 1024px) {
    body {
        overflow: auto;
    }
}







/* LAPTOP */
@media (min-width: 1024px) and (max-width: 1440px) {

body {
    overflow: auto;
}
/* ========== MAIN CLASS ============= */
.main-class {
    width: 100%;
    display: flex;
    
}

/* ============= COLLABORATORS LEFT SIDE ================= */
.collaboratorsLeftSide {
    flex: 0.78%;
    position: relative;
    animation-name: collaboratorsLeftSide;
    animation-duration: 2s;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
    margin-top: 5%;
}
@keyframes collaboratorsLeftSide {
    from {
        left: -100%;
        visibility: hidden;
    } to {
        left: 0%;
        visibility: visible;
    }
}
.circleLeftSideContainer1 {
    text-align: right;
}
.circleLeftSideContainer1 img {
    width: 70%;
}










/* =========== TEXTO INICIAL =========== */
.main-textDesenvolvimento {
    margin-top: 5%;
    flex: 1.4;
}
.main-textDesenvolvimento p {
    margin: 0% auto;
    width: 70%;
    text-align: center;
    font-family: 'Assistant', sans-serif;
    font-size: 16px;
    position: relative;
    animation-duration: 2s;
    animation-delay: 1.8s;
    visibility: hidden;
    animation-fill-mode: forwards;
    animation-name: mainTextDesenvolvimento;
}
.main-textDesenvolvimento a {
    color: green;
}
@keyframes mainTextDesenvolvimento{
    from {
        bottom: -100%;
        visibility: hidden;
    } to {
        bottom: 0%;
        visibility: visible;
    }
}

/* ============== CREDITS CONTAINER ============== */
.credits {
    position: relative;
    animation-name: credits;
    animation-duration: 2s;
    animation-delay: 1.8s;
    animation-fill-mode: forwards;
    opacity: 0%;

}
.credits a {
    animation-name: credits;
    animation-duration: 2s;
    animation-delay: s;
    animation-fill-mode: forwards;
}
@keyframes credits {
    from {
        bottom: -100%;
        opacity: 100%;

    } to {
        bottom: 0%;
        opacity: 100%;
    }
}

/* ============= DEVS FRONT-END ================ */
.dev-front-end-title {
    display: flex;
    margin-top: 4%;
    text-align: center;
}
.dev-front-end h3 {
    flex: 1;
    font-family: 'Raleway';
    text-transform: uppercase;
    font-size: 16px;

}
.dev-front-end span {
    flex: 1;
    margin-left: 1%;
    margin-top: 2%;
}
.dev-front-end img {
    flex: 1;
    width: 3.2%;
    margin-bottom: -1%;
    position: relative;
}
.dev-front-end p {
    margin-top: 1.6%;
    text-align: center;

}
.dev-front-end a {
    font-family: 'Assistant', sans-serif;
    font-size: 16px;
    color: green;
}

/* ======== DEVS BACK END ========== */
.dev-back-end-title {
    margin-top: 4%;
    display: flex;
    text-align: center;
}
.dev-back-end h3 {
    flex: 1;
    font-family: 'Raleway';
    text-transform: uppercase;
    font-size: 16px;

}
.dev-back-end span {
    flex: 1;
    margin-left: 1%;
    margin-top: 2%;
}
.dev-back-end img {
    flex: 1;
    width: 3.2%;
    margin-bottom: -1%;
    position: relative;
}
.dev-back-end p {
    margin-top: 1.6%;
    text-align: center;
}
.dev-back-end a {
    font-family: 'Assistant', sans-serif;
    font-size: 16px;
}


/* ======= COLLABORATORS ========= */
.collaborators-title {
    display: flex;
}
.collaborators {
    padding-bottom: 6%;
}
.collaborators a {
    font-family: 'Assistant', sans-serif;
    font-size: 16px;
}
.collaborators h3 {
    flex: 1;
    font-family: 'Raleway';
    text-transform: uppercase;
    margin-top: 4%;
    font-size: 16px;
    text-align: center;
}
.collaborators span {
    flex: 1;
    margin-left: 1%;
    margin-top: 2%;
}
.collaborators img {
    flex: 1;
    width: 3.2%;
    margin-bottom: -1%;
    position: relative;
}
.collaborators p {
    margin-top: 1%;
    text-align: center;
}
}