<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/manual.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        @@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

        @@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

        @@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    </style>

    <title>ECCUSBET | Manual</title>
</head>
<body>





    <div class="sub-header">
        <article class="manual-container">
            <section class="manual-title">
                <h1>Manual de instruções, entenda sobre o nosso software</h1>
                <p>Está com dificuldades e está desamparado em relação ao nosso software? Não se preocupe! A seguir, temos uma lista explicações de todos os termos e suas definições dos nossos itens.</p>
            </section>
        </article>

        <div class="manual-image">
            <img src="../../images/manual1.png" alt="">
        </div>
    </div>


    <div class="sub-header-divisoria"></div>







    <main class="main-class">
        <article class="manual-text">


            <section class="dimensionamento">

                <section class="dimensionamento-text-container">

                    <section class="dimensionamento-text">
                        <h2>Dimensionamento</h2>
                        <p>
                            Inicialmente é necessário adicionar ao software os dados de entrada, selecionando o padrão de ocupação, colocando a temperatura do ambiente, tempo entre limpeza da bacia, quantidade de pessoas atendidas e os dados do pneu que será usado conforme imagem exemplo. Dessa forma ao clicar no botão "Calcular" os resultados serão exibidos, volume útil, largura da bacia, comprimento da bacia, profundidade da bacia e quantidade de pneus usados.
                            <br>
                            <br>
                            Ao clicar o botão “Calcular”, além da obtenção dos dados de saída, os mesmos são exportados simultaneamente para a tabela de dimensionamento que se encontra na aba análise.
                        </p>
                    </section>


                </section>
                <div class="dimensionamento-img">
                    <img src="../../images/manual2.png" alt="" style="width: 100%;">
                </div>

            </section>



            <section class="metodologia">
                <section class="metodologia-text">
                    <h2>Metodologia</h2>
                    <p>
                        O presente projeto tomou como base a norma técnica da ABNT NBR 7229 - Projeto, construção e operação de sistemas de tanque sépticos. Elaborado pelo corpo técnico da ONG Instituto ECCUS, de João Pessoa-PB, o projeto se baseou no estudo “implantação do sistema de tratamento de esgoto, através de bacia de evapotranspiração na comunidade de Santa Luzia na Ilha do Baixio” e a partir de um projeto anterior onde constam os cálculos para o tratamento de efluentes e captação de águas pluviais para residência unifamiliar e seu Memorial descritivo.
                        <br>
                        <br>
                        Através da NT ABNT NBR 7229, conseguimos obter o volume útil do tanque séptico e considerando cada pneu como um cilindro, obtemos o volume de cada pneu. Dividindo o volume útil pelo volume de cada pneu temos o número de pneus que serão utilizados (arredondando para o inteiro mais próximo). Para calcular o comprimento da bacia foram multiplicados a quantidade de pneus e largura de cada pneu. Assim, a largura da bacia é obtida fazendo o diâmetro do pneu mais 1.0 m. Para a profundidade três condições foram consideradas: para volume útil menor ou igual a 6 m³ a profundidade adotada será 1.2 m, para volume útil maior que 6 m³ e menor igual a 10 m³, a profundidade será 1.5 m, e para volumes maiores a profundidade será 1.8 m. Esse padrão foi adotado no sentido de manter a temperatura no centro da bacia sempre elevada.
                        <br>
                        <br>
                        É importante pontuar que, para obtenção do volume útil, a NBR 7229 tem como padrão as seguintes contribuições de esgoto: escolas = 50 L/habitante*dia, alojamento provisório = 80 L/habitante*dia, hotel (exceto, lavanderia e cozinha) = 100 L/habitante*dia e para residência temos 100, 130 e 160 L/habitante*dia. No entanto, a fim de diminuir o comprimento da bacia e destacando que a mesma só recebe águas negras, foi adotada uma contribuição de 36 L/habitante*dia, para residência, correspondendo a contribuição exclusiva da bacia sanitária.  Esse valor foi baseado no trabalho de DIAS, que apresentou um Estudo da viabilidade técnica, econômica e social do aproveitamento de água de chuva em residências na cidade de João Pessoa, conforme tabelas 5.2, 5.3 e 5.4, onde constam o consumo de água por pessoa, em bacia sanitária.
                    </p>


                </section>

                <div class="metodologia-img">
                    <img src="../../images/manual4.png" alt="" style="width: 100%;">
                </div>
            </section>

            <section class="analise">
                <section class="analise-text-container">
                    <section class="analise-text">
                        <h2>Análise</h2>
                        <p>
                            Nessa parte serão feitas as análises dos possíveis dimensionamentos e precificações dos mesmos. As dimensões obtidas na aba dimensionamento serão postas automaticamente na respectiva tabela que se encontra na aba de análise, após o usuário clicar no botão “Calcular”.
                            <br>
                            <br>
                            A obtenção do custo total da bacia será feita a partir da adição dos serviços, ferramentas ou itens, adicionados em sua respectiva área ("Dados da tabela de orçamento"). Ao clicar no botão “Adicionar” os dados serão postos na tabela de orçamento e nela pode deletar uma linha selecionada da tabela ou obter o custo total clicando no respectivo botão.
                        </p>
                    </section>

                </section>
                <div class="analise-img">
                    <img src="../../images/manual3.png" alt="" style="width: 100%;">
                </div>
            </section>


        </article>
    </main>













    <footer class="footer-class">

        <div class="footer-logo">
            <div class="footer-logo-img">
                <a href="https://instituto-eccus.github.io" target="_blank">
                    <img src="../../images/logo-removebg-preview.png" alt="">
                </a>
            </div>
        </div>

        <div class="main-footer">
            <div class="footer-content">

                <div class="footer-about-us">
                    <div class="about-us-tittle">
                        <h1>Nossa Missão</h1>
                    </div>
                    <div class="about-us-paragraph">
                        <p>Promover uma ação integrada nas dimensões política, pedagógica e cultural, alcançando as pessoas a um nível local, possibilitando a transformação dos espaços e sua transição para uma cultura da paz e da sustentabilidade.</p>
                    </div>
                </div>

                <div class="footer-links">
                    <div class="footer-links-tittle">
                        <h1>Sobre</h1>
                    </div>
                    <div class="footer-links-list">
                        <ul>
                            <a href="../../index.html">
                            <li>Início</li></a>
                            <a href="../dimensionamentoPage/dimensionamento.html">
                            <li>Dimensionamento</li></a>
                            <a href="../../html/analisePage/analise.html">
                            <li>Análise</li></a>
                            <a href="../../html/nos-ajude/nos-ajude.html">
                            <li>Nos ajude</li></a>
                            <a href="../../html/desenvolvimento/desenvolvimento.html">
                            <li>Desenvolvimento</li></a>
                            <a href="../../html/manual/manual.html">
                            <li>Manual</li></a>
                        </ul>
                    </div>

                </div>

                <div class="footer-contact">

                    <div class="footer-contact-tittle">
                        <h1>Contato</h1>
                    </div>

                    <div class="footer-localization">
                        <div class="footer-localization-flex">
                            <span class="footer-localization-img">
                                <img src="https://image.flaticon.com/icons/png/512/1182/1182754.png" alt="">
                            </span>
                            <h4 id="footerLocalizationTitle">Localização</h4>
                        </div>
                        <p><a href="https://goo.gl/maps/ErqAUHadDF4fH8EW8" target="_blank">João Pessoa -  Paraíba, Brasil</a> </p>
                    </div>

                    <div class="footer-phone">
                        <div class="footer-phone-flex">
                            <span class="footer-phone-img">
                                <img src="https://image.flaticon.com/icons/png/512/1182/1182737.png" alt="">
                            </span>
                            <h4 id="footerphoneTitle">Telefone</h4>
                        </div>
                        <p>55+ (83) 99837-8334</p>
                    </div>

                    <div class="footer-email">
                        <div class="footer-email-flex">
                            <span class="footer-email-img">
                                <img src="https://image.flaticon.com/icons/png/512/1182/1182740.png" alt="">
                            </span>
                            <h4 id="footeremailTitle">E-mail</h4>
                        </div>
                        <p>intitutoeccusvoluntariado@gmail.com</p>
                    </div>
                </div>
            </div>

            <div class="footer-copyright">
                <div class="copyright-notes">
                    <h5>Copyright © 2021 | Todos os direitos reservados pelo Instituto ECCUS</h5>
                </div>
                <div class="footer-credits">
                    <div class="credits-link">
                        <p style="font-size: 14px;">As imagens usadas no software são apenas para referências nustrativas: não sendo obrigado o uso das mesmas para construção da bacia de evapotranspiração.</p>

                        <br>

                        <p>reading clipart PNG Designed By CHENXIN from <a href="https://pngtree.com/freepng/hand-drawn-cartoon-reading-day-learning-illustration_5357247.html?sol=downref&id=bef">https://pngtree.com/freepng/hand-drawn-cartoon-reading-day-learning-illustration_5357247.html?sol=downref&id=bef</a></p>

                        <p>reading clipart PNG Designed By CHENXIN from <a href="https://pngtree.com/freepng/hand-drawn-green-world-reading-day-illustration_5357246.html?sol=downref&id=bef">https://pngtree.com/freepng/hand-drawn-green-world-reading-day-illustration_5357246.html?sol=downref&id=bef</a></p>

                        <p>reading clipart PNG Designed By CHENXIN from <a href="https://pngtree.com/freepng/hand-drawn-cartoon-reading-day-learning-fitness-illustration_5357242.html?sol=downref&id=bef">https://pngtree.com/freepng/hand-drawn-cartoon-reading-day-learning-fitness-illustration_5357242.html?sol=downref&id=bef</a></p>
                    </div>

                    <div class="referencias">
                        <div class="referencias-manual">
                            <p>
                                RIO DE JANEIRO. Associação Brasileira de Nomas Técnicas. 7229. Projeto: construção e operação de sistemas de tanque sépticos. 1993 PAULO R. COSTA; NIARIO F. COELHO. Implantação de sistema de tratamento de esgoto: através de bacia de evapotranspiração na comunidade de Santa Luzia na Ilha do Baixio: Iranduba AM. Centro Universitário do Norte. 201 S IGOR N. QUARESNLA: JOAO E. FILHO; THLAGO M. TAVARES. Memorial descfitivo e de cálculo do proJeto de tratamento de efluentes e captação de águas pluviais para residência unifamüiar. ONG Instituto ECCUS. João Pessoa: PB. 2020 ISABELLY C. DIAS. Dissertação de Mestrado. Estudo da viabdidade técnica: económica e social do aproveitamento de água de chuva em residências na cidade de João Pessoa. Universidade Federal da Paralba. Programa De Pás-G-raduação em Engenharia Urbana. 2007
                            </p>
                        </div>
                    </div>
                </div>

            </div>
    </footer>
</body>
</html>    