<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECCUSBET | Nos ajude</title>
    <link rel="stylesheet" href="nos-ajude.css">
    <link rel="stylesheet" href="../../pageGeneralStyle.css">
    <link rel="shortcut icon" href="../../images/NicePng_tea-leaves-png_4506999 (1).png" type="image/x-icon">
    <script src="nos-ajude.js" defer></script>

</head>
<body>
    <header class="header-class">  



        <nav class="nav-class">
            <ul>
                <li><a href="../../index.html">Inicio</a></li>
                <li><a href="../dimensionamentoPage/dimensionamento.html">Dimensionamento</a></li> 
                <li><a href="../analisePage/analise.html">Análise</a></li>
                <li><a href="nos-ajude.html">Nos ajude</a></li>
                <li><a href="../desenvolvimento/desenvolvimento.html">Desenvolvimento</a></li> 
                <li><a href="../manual/manual.html">Manual</a></li> 
            </ul>
        </nav>

        <div class="header-logo">
            <img src="../../images/logo.PNG" alt="">
        </div>

   </header>


   

   <main class="nos-ajude-main">
    <section class="about-us">

        <div class="about-us-container1">
            <div class="about-us-title">
                <h1>
                    Sobre nós
                </h1>
            </div>

            <div class="about-us-paragraph">
                <p>
                    O Instituto ECCUS - IECCUS - é uma Organização sem fins lucrativos, fundada em Janeiro de 2016 por um grupo de amigos que logo conquistou parceiros e voluntários para atuarem cooperativamente em ações voltadas para a cultura, saúde, educação, meio ambiente e cidadania.
                </p>
            </div>

            <div class="about-us-button">
                <a href="https://instituto-eccus.github.io/index.html" target="_blank" rel="noopener noreferrer">
                    <button id="aboutUsButton">Apoie a nossa causa!</button>
                </a>
            </div>
        </div>

        <div class="about-us-container2">
            <img src="../../images/logo.PNG" alt="">
        </div>
    </section>








    <section class="cards">
        <div class="cards-container">

            <div class="card1">
                <div class="card1-title">
                    <h1>Nosso objetivo</h1>
                </div>

                <div class="card1-content">
                    <div class="card1-paragraph">
                        <p>Nosso objetivo é promover uma ação integrada nas dimensões política, cultural e pedagógica, que alcance as pessoas a um nível local, possibilitando a transformação dos espaços e sua transição para uma cultura da paz e da sustentabilidade</p>
                    </div>
                    <div class="card1-img">
                        <img src="https://image.flaticon.com/icons/png/512/3077/3077054.png" alt=""> <span></span>
                    </div>
                </div>
            </div>


            <div class="card2">
                <div class="card2-title">
                    <h1>Dimensão de Atuação</h1>
                </div>

                <div class="card2-content">
                    <div class="card2-paragraph">
                        <p>O IECCUS busca uma abordagem transdisciplinar, multinível e multidimensional das temáticas socioambientais, considerando as diferenças e o respeito à diversidade como contribuição para a construção coletiva de uma sociedade pacífica, participativa e sustentável.</p>
                    </div>
                    <div class="card2-img">
                        <img src="https://image.flaticon.com/icons/png/512/3094/3094951.png" alt=""> <span></span>
                    </div>
                </div>
            </div>

            <div class="card3">
                <div class="card3-title">
                    <h1>Nos Ajude a Melhorar</h1>
                </div>

                <div class="card3-content">
                    <div class="card3-paragraph">
                        <p>Essa versão do ECCUSBET dimensiona a Bacia de Evapotranspiração segundo metodologia descrita na aba <a href="../manual/manual.html" target="_blank">Manual</a>. Sabemos que há outros métodos e por isso pedimos o seu feedback, para que em outras versões possamos aperfeiçoar o sistema para uma melhor experiência.</p>
                    </div>
                    <div class="card3-img">
                        <img src="https://image.flaticon.com/icons/png/512/4908/4908912.png" alt=""> <span></span>
                    </div>
                </div>
                <div class="contact">
                    <h3>
                        <span class="contact-icon">
                            <img src="https://image.flaticon.com/icons/png/128/104/104069.png" alt="">
                        </span>
                        <h5 id="contactGmail">austregiselosvj@hotmail.com</h5>
                    </h3>
                </div>
            </div>

            <div class="card4">
                <div class="card4-title">
                    <h1>Apoie a nossa causa!</h1>
                </div>

                <div class="card4-content">
                    <div class="card4-paragraph">
                        <p>Se interessou? Você pode fazer um pouco mais... </p>
                        <div class="informations">
                            <h4>Instituto ECCUS</h4>
                            <ul class="information-list">
                                <li>CNPJ: 27.724.540/0001-74</li>
                                <li>Rua Manoel Medeiros Guedes, nº12, Sala 201</li>
                                <li>Telefone: 55+(83) 98731-7460</li>
                                <li>E-mail: institutoeccus@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card4-img">
                        <img src="https://image.flaticon.com/icons/png/512/1322/1322195.png" alt=""> <span></span>
                    </div>
                    
                </div>
                <div class="card4-button">
                    <a href="https://instituto-eccus.github.io/index.html" target="_blank" rel="noopener noreferrer">
                        <button>Apoie a nossa causa!</button>
                    </a>
                </div>
            </div>

        </div>
    </section>
   </main>




   
   <footer class="footer-class">

    <div class="footer-logo">
        <div class="footer-logo-img">
            <a href="https://instituto-eccus.github.io" target="_blank">
                <img src="../../images/logo-removebg-preview.png" alt="">
            </a>
        </div>
    </div>

    <div class="main-footer">
        <div class="footer-content">

            <div class="footer-about-us">
                <div class="about-us-tittle">
                    <h1>Nossa Missão</h1>
                </div>
                <div class="about-us-paragraph">
                    <p>Promover uma ação integrada nas dimensões política, pedagógica e cultural, alcançando as pessoas a um nível local, possibilitando a transformação dos espaços e sua transição para uma cultura da paz e da sustentabilidade.</p>
                </div>
            </div>

            <div class="footer-links">
                <div class="footer-links-tittle">
                    <h1>Sobre</h1>
                </div>
                <div class="footer-links-list">
                        <ul>
                            <a href="../../index.html"><li>Início</li></a>
                            <a href="../dimensionamentoPage/dimensionamento.html"><li>Dimensionamento</li></a>
                            <a href="../analisePage/analise.html"><li>Análise</li></a>
                            <a href="../nos-ajude/nos-ajude.html"><li>Nos ajude</li></a>
                            <a href="../desenvolvimento/desenvolvimento.html"><li>Desenvolvimento</li></a>
                            <a href="../manual/manual.html"><li>Manual</li></a>
                        </ul>
                </div>

            </div>

            <div class="footer-contact">

                <div class="footer-contact-tittle">
                    <h1>Contato</h1>
                </div>

                <div class="footer-localization">
                    <div class="footer-localization-flex">
                        <span class="footer-localization-img">
                            <img src="https://image.flaticon.com/icons/png/512/1182/1182754.png" alt="">
                        </span>
                        <h4 id="footerLocalizationTitle">Localização</h4>
                    </div>
                    <p><a href="https://goo.gl/maps/ErqAUHadDF4fH8EW8" target="_blank">João Pessoa -  Paraíba, Brasil</a> </p>
                </div>

                <div class="footer-phone">
                    <div class="footer-phone-flex">
                        <span class="footer-phone-img">
                            <img src="https://image.flaticon.com/icons/png/512/1182/1182737.png" alt="">
                        </span>
                        <h4 id="footerphoneTitle">Telefone</h4>
                    </div>
                    <p>55+ (83) 99837-8334</p>
                </div>

                <div class="footer-email">
                    <div class="footer-email-flex">
                        <span class="footer-email-img">
                            <img src="https://image.flaticon.com/icons/png/512/1182/1182740.png" alt="">
                        </span>
                        <h4 id="footeremailTitle">E-mail</h4>
                    </div>
                    <p>intitutoeccusvoluntariado@gmail.com</p>
                </div> 
        </div>
    </div>
    
    <div class="footer-copyright">
        <div class="copyright-notes">
            <h5>Copyright © 2021 | Todos os direitos reservados pelo Instituto ECCUS</h5>
            <div class="freepik-credits">Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        </div>
        
        <div class="footer-credits">
            <div class="credits-link">

            </div>

            <div class="referencias">
                <div class="referencias-manual">

                </div>
            </div>
        </div>
        
    </div>
</footer>

</body>
</html>