* {
    padding: 0%;
    margin: 0%;
}

/* =========== SUB HEADER =========== */
.sub-header {
    width: 100%;
    display: flex;
}


/* =========== MANUAL TEXT =========== */
.manual-container {
    width: 70%;
}
.manual-text {
    display: grid;
    padding: 3%;
}

.manual-title {
    width: 70%;
    margin: 0% auto;
}
.manual-title h1 {
    font-size: 50px;
    font-family: 'Raleway';
    margin-bottom: 4%;
    margin-top: 12%;
    position: relative;
    animation-name: manualContainer;
    animation-duration: 3s;
    animation-delay: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
}
@keyframes manualContainer {
    from {
        left: -100%;
        opacity: 0;

    }

    to {
        left: 0%;
        opacity: 1;
    }
}


.manual-title p {
    font-size: 19px;
    font-family: 'Raleway';
    position: relative;
    animation-name: manualContainer1;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes manualContainer1 {
    from {
        left: -100%;
        opacity: 0;
    }

    to {
        left: 0%;
        opacity: 1;
    }
}

/* =========== MANUAL IMAGE =========== */
.manual-image {
    width: 50%;
    position: relative;
    animation-name: manual-image;
    animation-duration: 4.5s;
}
.manual-image img {
    width: 80%;
}
@keyframes manual-image {
    from {
        right: -100%;
    }

    to {
        right: 0;
    }
}




/* =========== DIVISORIA =========== */
.sub-header-divisoria {
    width: 100%;
    height: 3vh;
    background: linear-gradient(0deg, rgba(75,157,66,1) 11%, rgba(57,157,47,1) 50%, rgba(50,129,42,1) 100%);
}



/* =========== SUB-NAV =========== */
.sub-nav-class {
    width: 100%;
    background: linear-gradient(90deg, rgba(236,236,236,1) 11%, rgba(244,244,244,1) 50%, rgba(244,244,244,1) 100%);
}
.sub-nav-class ul {
    list-style: none;
    text-align: center;
}
.sub-nav-class li {
    display: inline-block;
    padding: 20px;
    transition: 0.5s;
}
.sub-nav-class li:hover {
    transform: translateY(4%);
}

.sub-nav-class a {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Quicksand';
    color: black;
    font-weight: 400;
}
.sub-nav-class a:hover {
    color: rgb(78, 78, 78);
    transition: 0.5s;
}




/* =========== MAIN-CLASS =========== */
.main-class {
    width: 100%;
    margin-bottom: 4%;
}
.manual-text {
    width: 92%;
    display: flex;
    margin: auto;
    gap: 30px;
}
/* =========== DIMENSIONAMENTO =========== */
.dimensionamento {
    width: 100%;
    background: linear-gradient(0deg, rgba(75,157,66,1) 11%, rgb(45, 128, 38) 50%, rgba(50,129,42,1) 100%);
    border-radius: 16px;
    transition: 1s;

}
.dimensionamento:hover {
    background: linear-gradient(0deg, rgb(15, 141, 10) 11%, rgb(51, 139, 29) 50%, rgb(42, 161, 29) 100%);
    transform: scale(1.04);
    transition: 1s;
    box-shadow: 10px 40px 10px 10px rgb(211, 211, 211);
    }



.dimensionamento h2 {
    text-align: center;
    padding-top: 14%;
    font-family: 'Raleway';
    font-size: 36px;
    color: white;
}
.dimensionamento-text p {
    padding: 6% 12%;
    font-size: 18px;
    font-family: 'Assistant';
    color: white;
}


/* =========== METODOLOGIA =========== */
.metodologia {
    width: 100%;
    background: linear-gradient(0deg, rgb(204, 204, 204) 11%, rgb(236, 236, 236) 50%, rgb(238, 238, 238) 100%);
    border-radius: 16px;
    transition: 1s;

}
.metodologia:hover {
    background: linear-gradient(0deg, rgb(255, 255, 255) 11%, rgb(255, 255, 255) 50%, rgb(241, 241, 241) 100%);
    transform: scale(1.04);
    transition: 1s;
    box-shadow: 10px 40px 10px 10px rgb(211, 211, 211);
}
.metodologia-text h2 {
    text-align: center;
    padding-top: 14%;
    font-family: 'Raleway';
    font-size: 36px;
}

.metodologia-text p {
    padding: 6% 12%;
    font-size: 18px;
    font-family: 'Assistant';
}

/* =========== ANALISE =========== */
.analise {
    width: 100%;
    background: linear-gradient(0deg, rgba(75,157,66,1) 11%, rgba(57,157,47,1) 50%, rgba(50,129,42,1) 100%);
    border-radius: 16px;
    transition: 1s;
}
.analise:hover {
    background: linear-gradient(0deg, rgb(15, 141, 10) 11%, rgb(51, 139, 29) 50%, rgb(42, 161, 29) 100%);
    transform: scale(1.04);
    transition: 1s;
    box-shadow: 10px 40px 10px 10px rgb(211, 211, 211);
}
.analise-text h2 {
    text-align: center;
    padding-top: 14%;
    font-family: 'Raleway';
    font-size: 36px;
    color: white;
}
.analise-text p {
    padding: 6% 12%;
    font-size: 18px;
    font-family: 'Assistant';
    color: white;
}




/* ========= FOOTER ============= */
.footer-links h1 {
    margin-left: -8.4%;
}









































































/* =========================== DISPOSITIVOS MOBILE =========================== */


/*============= MOBILE SMALL =============*/
@media (min-width: 320px) and (max-width: 375px) {

    .sub-header {
        width: 100%;
        display: flex;
    }


    /* =========== SUB HEADER TEXT =========== */
    .manual-container {
        width: 100%;
    }

    .manual-title {
        width: 90%;
    }
    .manual-title h1 {
        font-size: 20px;
        text-align: center;
    }

    .manual-title p {
        font-size: 15px;
        text-align: center;
        padding-bottom: 10%;
        padding-top: 10%;
    }

    .manual-image {
        display: none;
    }



    /* =========== MAIN CLASS =========== */
    .main-class {
        width: 100%;
        margin-bottom: 4%;
    }
    .manual-text {
        display: flex;
        flex-direction: column;
    }
    /* =========== DIMENSIONAMENTO =========== */
    .dimensionamento {
        border-radius: 0px;
    }

    .dimensionamento h2 {
        text-align: center;
        padding-top: 10%;
        font-family: 'Raleway';
        font-size: 26px;
        color: white;
    }
    .dimensionamento-text p {
        font-size: 18px;
        font-family: 'Assistant';
        color: white;
    }

    .dimensionamento-img {
        display: none;
    }

    .dimensionamento:hover {
        box-shadow: none;
    }


    /* =========== METODOLOGIA =========== */
    .metodologia {
        border-radius: 0px;
    }

    .metodologia-text h2 {
        text-align: center;
        padding-top: 10%;
        font-family: 'Raleway';
        font-size: 26px;
    }

    .metodologia-text p {
        font-size: 18px;
        font-family: 'Assistant';
    }

    .metodologia-img {
        display: none;
    }

    .metodologia:hover {
        box-shadow: none;
    }


    /* =========== ANALISE =========== */
    .analise {
        border-radius: 0px;
    }

    .analise-text h2 {
        text-align: center;
        padding-top: 10%;
        font-family: 'Raleway';
        font-size: 26px;
    }

    .analise-text p {
        font-size: 18px;
        font-family: 'Assistant';
    }

    .analise-img {
        display: none;
    }

    .analise:hover {
        box-shadow: none;
    }

}




    
















/* MOBILE MEDIUM */
@media (min-width: 375px) and (max-width: 425px) {
    
    .sub-header {
        width: 100%;
        display: flex;
    }


    /* =========== SUB HEADER TEXT =========== */
    .manual-container {
        width: 100%;
    }

    .manual-title {
        width: 90%;
    }
    .manual-title h1 {
        font-size: 20px;
        text-align: center;
    }

    .manual-title p {
        font-size: 15px;
        text-align: center;
        padding-bottom: 10%;
        padding-top: 10%;
    }

    .manual-image {
        display: none;
    }



    /* =========== MAIN CLASS =========== */
    .main-class {
        width: 100%;
        margin-bottom: 4%;
    }
    .manual-text {
        display: flex;
        flex-direction: column;
    }
    /* =========== DIMENSIONAMENTO =========== */
    .dimensionamento {
        border-radius: 0px;
    }

    .dimensionamento h2 {
        text-align: center;
        padding-top: 10%;
        font-family: 'Raleway';
        font-size: 26px;
        color: white;
    }
    .dimensionamento-text p {
        font-size: 18px;
        font-family: 'Assistant';
        color: white;
    }

    .dimensionamento-img {
        display: none;
    }

    .dimensionamento:hover {
        box-shadow: none;
    }


    /* =========== METODOLOGIA =========== */
    .metodologia {
        border-radius: 0px;
    }

    .metodologia-text h2 {
        text-align: center;
        padding-top: 10%;
        font-family: 'Raleway';
        font-size: 26px;
    }

    .metodologia-text p {
        font-size: 18px;
        font-family: 'Assistant';
    }

    .metodologia-img {
        display: none;
    }

    .metodologia:hover {
        box-shadow: none;
    }


    /* =========== ANALISE =========== */
    .analise {
        border-radius: 0px;
    }

    .analise-text h2 {
        text-align: center;
        padding-top: 10%;
        font-family: 'Raleway';
        font-size: 26px;
    }

    .analise-text p {
        font-size: 18px;
        font-family: 'Assistant';
    }

    .analise-img {
        display: none;
    }

    .analise:hover {
        box-shadow: none;
    }

    
}
















/* MOBILE LARGE */
@media (min-width: 425px) and (max-width: 768px) {

    .sub-header {
        width: 100%;
        display: flex;
    }


    /* =========== SUB HEADER TEXT =========== */
    .manual-container {
        width: 100%;
    }

    .manual-title {
        width: 90%;
    }
    .manual-title h1 {
        font-size: 20px;
        text-align: center;
    }

    .manual-title p {
        font-size: 15px;
        text-align: center;
        padding-bottom: 10%;
        padding-top: 10%;
    }

    .manual-image {
        display: none;
    }



    /* =========== MAIN CLASS =========== */
    .main-class {
        width: 100%;
        margin-bottom: 4%;
    }
    .manual-text {
        display: flex;
        flex-direction: column;
    }
    /* =========== DIMENSIONAMENTO =========== */
    .dimensionamento {
        border-radius: 0px;
    }

    .dimensionamento h2 {
        text-align: center;
        padding-top: 10%;
        font-family: 'Raleway';
        font-size: 26px;
        color: white;
    }
    .dimensionamento-text p {
        font-size: 18px;
        font-family: 'Assistant';
        color: white;
    }

    .dimensionamento-img {
        display: none;
    }

    .dimensionamento:hover {
        box-shadow: none;
    }


    /* =========== METODOLOGIA =========== */
    .metodologia {
        border-radius: 0px;
    }

    .metodologia-text h2 {
        text-align: center;
        padding-top: 10%;
        font-family: 'Raleway';
        font-size: 26px;
    }

    .metodologia-text p {
        font-size: 18px;
        font-family: 'Assistant';
    }

    .metodologia-img {
        display: none;
    }

    .metodologia:hover {
        box-shadow: none;
    }


    /* =========== ANALISE =========== */
    .analise {
        border-radius: 0px;
    }

    .analise-text h2 {
        text-align: center;
        padding-top: 10%;
        font-family: 'Raleway';
        font-size: 26px;
    }

    .analise-text p {
        font-size: 18px;
        font-family: 'Assistant';
    }

    .analise-img {
        display: none;
    }

    .analise:hover {
        box-shadow: none;
    }

}













/* LAPTOP SMALL */
@media (min-width: 768px) and (max-width: 1024px) {
    .sub-header {
        width: 100%;
        display: flex;
    }


    /* =========== SUB HEADER TEXT =========== */
    .manual-container {
        width: 100%;
    }

    .manual-title {
        width: 90%;
    }
    .manual-title h1 {
        font-size: 25px;
        text-align: center;
    }

    .manual-title p {
        font-size: 15px;
        text-align: center;
        padding-bottom: 15%;
        padding-top: 2%;
    }

    .manual-image {
        display: none;
    }



    /* =========== MAIN CLASS =========== */
    .main-class {
        width: 100%;
        margin-bottom: 4%;
    }
    .manual-text {
        display: flex;
        flex-direction: column;
    }
    /* =========== DIMENSIONAMENTO =========== */
    .dimensionamento {
        border-radius: 0px;
    }

    .dimensionamento h2 {
        text-align: center;
        padding-top: 10%;
        font-family: 'Raleway';
        font-size: 26px;
        color: white;
    }
    .dimensionamento-text p {
        font-size: 18px;
        font-family: 'Assistant';
        color: white;
    }

    .dimensionamento-img {
        display: none;
    }

    .dimensionamento:hover {
        box-shadow: none;
    }


    /* =========== METODOLOGIA =========== */
    .metodologia {
        border-radius: 0px;
    }

    .metodologia-text h2 {
        text-align: center;
        padding-top: 10%;
        font-family: 'Raleway';
        font-size: 26px;
    }

    .metodologia-text p {
        font-size: 18px;
        font-family: 'Assistant';
    }

    .metodologia-img {
        display: none;
    }

    .metodologia:hover {
        box-shadow: none;
    }


    /* =========== ANALISE =========== */
    .analise {
        border-radius: 0px;
    }

    .analise-text h2 {
        text-align: center;
        padding-top: 10%;
        font-family: 'Raleway';
        font-size: 26px;
    }

    .analise-text p {
        font-size: 18px;
        font-family: 'Assistant';
    }

    .analise-img {
        display: none;
    }

    .analise:hover {
        box-shadow: none;
    }
}






/* =========================== LAPTOP =========================== */
/* LAPTOP */
@media (min-width: 1024px) and (max-width: 1440px) {
    /* =========== SUB HEADER =========== */
.sub-header {
    width: 100%;
    display: flex;
}


/* =========== MANUAL TEXT =========== */

.manual-title h1 {
    font-size: 38px;
    font-family: 'Raleway';
    margin-bottom: 4%;
    margin-top: 12%;
    position: relative;
    animation-name: manualContainer;
    animation-duration: 3s;
    animation-delay: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
}

.manual-title p {
    font-size: 16px;
    font-family: 'Raleway';
    position: relative;
    animation-name: manualContainer1;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}


/* =========== DIMENSIONAMENTO =========== */
.dimensionamento h2 {
    text-align: center;
    padding-top: 14%;
    font-family: 'Raleway';
    font-size: 26px;
    color: white;
}


/* =========== METODOLOGIA =========== */
.metodologia-text h2 {
    text-align: center;
    padding-top: 14%;
    font-family: 'Raleway';
    font-size: 26px;
}


/* =========== ANALISE =========== */
.analise-text h2 {
    text-align: center;
    padding-top: 14%;
    font-family: 'Raleway';
    font-size: 26px;
    color: white;
}



/* ========= FOOTER ============= */
.footer-links h1 {
    margin-left: -8.4%;
}
}









