* {
    padding: 0%;
    margin: 0%;
}










/* ================== SECTION 1 =================== */
.about-us {
    width: 100%;
    display: flex;
    margin-top: 3%;
}

/* ================== CONTAINER LEFT SIDE ==================== */
.about-us-container1 {
    flex: 1;
    margin-left: 10%;
}
@keyframes about-us-container1 {
    from {
        right: 100%;
        opacity: 0;
    }

    to {
        right: 0%;
        opacity: 1;
    }
}



.about-us-container1 h1 {
    font-size: 80px;
    font-family: 'Quicksand';
    position: relative;
    animation-duration: 2.5s;
    animation-name: about-us-container1;
}
.about-us-title {
    text-align: center;
    margin-top: 4%;
}
.about-us-paragraph {
    width: 80%;
    margin: auto;
    width: 94%;
    position: relative;
    animation-duration: 2.5s;
    animation-delay: 1s;
    animation-name: about-us-container1;
    opacity: 0%;
    animation-fill-mode: forwards;
}
.about-us-paragraph p {
    font-size: 20px;
    font-family: 'Assistant';
    line-height: 30px;
    text-align: center;
    color: rgb(78, 78, 78);
}
.about-us-button {
    text-align: center;
    margin-top: 3%;
    position: relative;
    animation-duration: 2.5s;
    animation-delay: 2s;
    animation-name: about-us-container1;
    opacity: 0%;
    animation-fill-mode: forwards;
}
#aboutUsButton {
    border-radius: 50px;
    padding: 26px;
    color: white;
    background: linear-gradient(0deg, rgb(74, 173, 63) 11%, rgb(59, 160, 50) 50%, rgb(48, 122, 39) 100%);
    border: none;
    font-size: 18px;
    font-family: 'Raleway';
    cursor: pointer;
    transition-duration: 0.5s;
}
#aboutUsButton:hover {
    background: linear-gradient(0deg, rgba(75,157,66,1) 11%, rgba(57,157,47,1) 50%, rgba(50,129,42,1) 100%);
    transform: translateY(7%);
    transition-duration: 0.5s;
    color: white;
    border: 1px solid rgb(255, 255, 255);
}

/* ================== CONTAINER RIGHT SIDE ==================== */
.about-us-container2 {
    flex: 0.88;
}
.about-us-container2 img {
    width: 70%;
    margin-bottom: 10%;
    position: relative;
    animation-name: about-us-container2-img;
    animation-duration: 2.5s;
    margin-top: -3%;
}
@keyframes about-us-container2-img {
    from {
        left: 100%;
        opacity: 0;
    }

    to {
        left: 0%;
        opacity: 1;
    }
}




/* ========================== CARDS ============================ */
.cards {
    background-color: rgb(224, 224, 224);
    width: 100%;
    padding-top: 4%;
    padding-bottom: 6%;

}
.cards-container {
    width: 88%;
    margin: auto;
    display: grid;
    gap: 26px;
}
/* =============== CARD 1 ==================== */
.card1 {
    background-color: rgb(243, 243, 243);
    width: 100%;
    border: 6px solid rgb(255, 255, 255);
    border-radius: 10px;
    transition: 1s;
    padding-bottom: 10%;

}
.card1:hover {
    background-color: rgb(255, 255, 255);
    transition: 1s;
}

.card1-title {
    font-size: 30px;
    font-family: 'Quicksand';
    padding-top: 4%;
    padding-left: 10%;
}

.card1-content {
    display: flex;

}

.card1-paragraph {
    font-size: 18px;
    font-family: 'Assistant';
    width: 100%;
    margin-top: 1%;
    padding: 1%;
    padding-left: 10%;
}
.card1-img {
    margin-top: -6%;
}
.card1-img img {
    width: 80%;
    position: relative;
    left: 10%;
}





/* =============== CARD 2 ==================== */
.card2 {
    background-color: rgb(243, 243, 243);
    width: 100%;
    border: 6px solid rgb(255, 255, 255);
    border-radius: 10px;
    transition: 1s;
}
.card2:hover {
    background-color: rgb(255, 255, 255);
    transition: 1s;
}
.card2-title {
    font-size: 30px;
    font-family: 'Quicksand';
    padding-top: 4%;
    padding-left: 9%;
}

.card2-content {
    display: flex;

}

.card2-paragraph {
    font-size: 18px;
    font-family: 'Assistant';
    width: 100%;
    margin-top: 1%;
    padding: 1%;
    padding-left: 9.4%;
}
.card2-img {
    margin-top: -3%;
}
.card2-img img {
    width: 72%;
    position: relative;
    left: 16%;
}

/* =============== CARD 3 ==================== */
.card3 {
    background-color: rgb(243, 243, 243);
    width: 100%;
    border: 6px solid rgb(255, 255, 255);
    border-radius: 10px;
    transition: 1s;
}
.card3:hover {
    background-color: rgb(255, 255, 255);
    transition: 1s;
}
.card3-title {
    font-size: 30px;
    font-family: 'Quicksand';
    padding-top: 4%;
    padding-left: 9%;
}

.card3-content {
    display: flex;

}
.card3-paragraph {
    font-size: 18px;
    font-family: 'Assistant';
    width: 100%;
    margin-top: 1%;
    padding: 1%;
    padding-left: 10%;
}
.card3-img {
    margin-top: -3%;
    margin-bottom: 3%;
}
.card3 a {
    color: green;
}
.card3-img img {
    width: 80%;
    position: relative;
    left: 12%;
}
.contact {
    display: flex;
    margin-top: -4%;
    margin-left: 0.4%;
}
.contact img {
    width: 18%;
    margin-top: -3%;
}
.contact-icon {
    position: relative;
    left: 60%;
}

#contactGmail {
    position: relative;
    right: 2.5%;
    font-family: 'Raleway';
}

/* =============== CARD 4 ==================== */
.card4 {
    background-color: rgb(243, 243, 243);
    width: 100%;
    border: 6px solid rgb(255, 255, 255);
    grid-row: 2;
    grid-column: 2;
    border-radius: 10px;
    transition: 1s;

}
.card4:hover {
    background-color: rgb(255, 255, 255);
    transition: 1s;
}

.card4-title {
    font-size: 30px;
    font-family: 'Quicksand';
    padding-top: 4%;
    padding-left: 10%;
}

.card4-content {
    display: flex;

}

.card4-paragraph {
    font-size: 18px;
    font-family: 'Assistant';
    width: 100%;
    margin-top: 1%;
    padding: 1%;
    padding-left: 10%;
}

.card4-img {

}
.card4-img img {
    width: 80%;
    position: relative;
    left: 12%;
}
.card4-button {
    margin-left: 33%;
    margin-top: -4%;
    margin-bottom: 4%;
}
.card4-button button {
    border-radius: 50px;
    padding: 3%;
    border: 1px solid rgb(196, 196, 196);
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: 'Raleway';
    transition-duration: 0.5s;
}
.card4-button button:hover {
    background: linear-gradient(0deg, rgba(75,157,66,1) 11%, rgba(57,157,47,1) 50%, rgba(50,129,42,1) 100%);
    transform: translateY(7%);
    transition-duration: 0.5s;
    color: white;
    border: 1px solid rgb(255, 255, 255);
}

.informations h4 {
    font-size: 17px;
    font-family: 'Quicksand';
    text-transform: uppercase;
    margin-top: 4%;
}
.information-list {
    text-align: left;
}
.information-list li{
    font-size: 16px;
    list-style: none;
    margin-left: -9%;
}

/* ================== FOOTER ===================== */
.about-us-tittle h1 {
    color: white;
    font-size: 38px;
    margin-left: 12%;
}
.about-us-paragraph p {
    text-align: left;
}






























@media (min-width: 320px) and (max-width: 375px) {

    * {
        padding: 0%;
        margin: 0%;
    }
    
    
    
    
    
    
    /* ================== SECTION 1 =================== */
    .about-us {
        width: 90%;
        display: flex;
        margin-top: 12%;
        margin: auto;
    }
    
    /* ================== CONTAINER LEFT SIDE ==================== */
    .about-us-container1 {
        flex: 1;
        margin-left: 10%;
    
    }
    @keyframes about-us-container1 {
        from {
            right: 100%;
            opacity: 0;
        }
    
        to {
            right: 0%;
            opacity: 1;
        }
    }
    
    
    .about-us-container1 {
        margin: auto;
        
    }
    .about-us-container1 h1 {
        font-size: 50px;
        font-family: 'Quicksand';
        position: relative;
        animation-duration: 2.5s;
        animation-name: about-us-container1;
    }
    .about-us-title {
        text-align: center;
        margin-top: 4%;
    }
    .about-us-paragraph {

    }
    .about-us-paragraph p {
        font-size: 18px;
        font-family: 'Assistant';
        line-height: 30px;
        text-align: center;
        color: rgb(78, 78, 78);

    }
    .about-us-button {
        text-align: center;
        margin-top: 3%;
        position: relative;
        animation-duration: 2.5s;
        animation-delay: 2s;
        animation-name: about-us-container1;
        opacity: 0%;
        animation-fill-mode: forwards;
        margin-bottom: 12%;
    }
    #aboutUsButton {
        border-radius: 50px;
        padding: 10px 10px;
        color: white;
        background: linear-gradient(0deg, rgb(74, 173, 63) 11%, rgb(59, 160, 50) 50%, rgb(48, 122, 39) 100%);
        border: none;
        font-size: 18px;
        font-family: 'Raleway';
        cursor: pointer;
        transition-duration: 0.5s;
    }
    #aboutUsButton:hover {
        background: linear-gradient(0deg, rgba(75,157,66,1) 11%, rgba(57,157,47,1) 50%, rgba(50,129,42,1) 100%);
        transform: translateY(7%);
        transition-duration: 0.5s;
        color: white;
        border: 1px solid rgb(255, 255, 255);
    }
    
    /* ================== CONTAINER RIGHT SIDE ==================== */
    .about-us-container2 {
        display: none;
    }

    
    
    
    
    /* ========================== CARDS ============================ */
    .cards {
        background-color: rgb(224, 224, 224);
        width: 100%;
        padding-top: 16%;
        padding-bottom: 20%;
    
    }
    .cards-container {
        width: 84%;
        margin: auto;
        display: grid;
        gap: 26px;
    }
    /* =============== CARD 1 ==================== */
    .card1-title {
        font-size: 22px;
        font-family: 'Quicksand';
        padding-top: 4%;
        padding-left: 10%;
    }

    .card1-paragraph {
        font-size: 18px;
        font-family: 'Assistant';
        width: 100%;
        margin-top: 1%;
        padding: 1%;
        padding-left: 10%;
        padding-right: 10%;
    }
    .card1-img {
        margin-top: -6%;
        display: none;

    }
   
    
    
    
    
    
    /* =============== CARD 2 ==================== */
    .card2 {
        background-color: rgb(243, 243, 243);
        width: 100%;
        border: 6px solid rgb(255, 255, 255);
        border-radius: 10px;
        transition: 1s;
    }
    .card2:hover {
        background-color: rgb(255, 255, 255);
        transition: 1s;
    }
    .card2-title {
        font-size: 16px;
        font-family: 'Quicksand';
        padding-top: 4%;
        padding-left: 9%;
    }
    
    .card2-content {
        display: flex;
    
    }
    
    .card2-paragraph {
        font-size: 18px;
        font-family: 'Assistant';
        width: 100%;
        margin-top: 1%;
        padding: 1%;
        padding-left: 9.4%;
        padding-bottom: 12%;
    }
    .card2-img {
        margin-top: -3%;
        display: none;

    }
    .card2-img img {
        width: 72%;
        position: relative;
        left: 16%;
    }
    
    /* =============== CARD 3 ==================== */
    .card3 {
        background-color: rgb(243, 243, 243);
        width: 100%;
        border: 6px solid rgb(255, 255, 255);
        border-radius: 10px;
        transition: 1s;
    }
    .card3:hover {
        background-color: rgb(255, 255, 255);
        transition: 1s;
    }
    .card3-title {
        font-size: 16px;
        font-family: 'Quicksand';
        padding-top: 4%;
        padding-left: 9%;
    }
    
    
    .card3-content {
        display: flex;
    
    }
    .card3-paragraph {
        font-size: 18px;
        font-family: 'Assistant';
        width: 100%;
        margin-top: 1%;
        padding: 1%;
        padding-left: 10%;
    }
    .card3-img {
        margin-top: -3%;
        margin-bottom: 3%;
        display: none;

    }

    .card3-img img {
        width: 80%;
        position: relative;
        left: 12%;
    }
    .contact {
        display: flex;
        margin-top: 4%;
        margin-left: -14%;
    }
    .contact img {
        width: 18%;
        margin-top: -4%;
        margin-bottom: 12%;
    }

    
    /* =============== CARD 4 ==================== */
    .card4 {
        background-color: rgb(243, 243, 243);
        width: 100%;
        border: 6px solid rgb(255, 255, 255);
        grid-row: 1;
        grid-column: 1;
        border-radius: 10px;
        transition: 1s;
    
    }
    .card4-title {
        font-size: 20px;
    }
    
    .card4-img {
        display: none;
    }

    .card4-button {
        margin-left: 23%;
        margin-top: 4%;
        margin-bottom: 4%;
    }
    .card4-button button {
        border-radius: 50px;
        padding: 3%;
        border: 1px solid rgb(196, 196, 196);
        cursor: pointer;
        background-color: rgb(255, 255, 255);
        font-size: 15px;
        font-family: 'Raleway';
        transition-duration: 0.5s;
    }
    
    .information-list {
        margin-left: 9%;
    }
    .information-list li{
        font-size: 14px;
        list-style: none;
        margin-left: -9%;
    }

}































/* SMARTPHONE MEDIUM */
@media (min-width: 375px) and (max-width: 425px) {
    * {
        padding: 0%;
        margin: 0%;
    }
    
    
    
    
    
    
    /* ================== SECTION 1 =================== */
    .about-us {
        width: 90%;
        display: flex;
        margin-top: 12%;
        margin: auto;
    }
    
    /* ================== CONTAINER LEFT SIDE ==================== */
    .about-us-container1 {
        flex: 1;
        margin-left: 10%;
    
    }
    @keyframes about-us-container1 {
        from {
            right: 100%;
            opacity: 0;
        }
    
        to {
            right: 0%;
            opacity: 1;
        }
    }
    
    
    .about-us-container1 {
        margin: auto;
        
    }
    .about-us-container1 h1 {
        font-size: 50px;
        font-family: 'Quicksand';
        position: relative;
        animation-duration: 2.5s;
        animation-name: about-us-container1;
    }
    .about-us-title {
        text-align: center;
        margin-top: 4%;
    }
    .about-us-paragraph {

    }
    .about-us-paragraph p {
        font-size: 18px;
        font-family: 'Assistant';
        line-height: 30px;
        text-align: center;
        color: rgb(78, 78, 78);

    }
    .about-us-button {
        text-align: center;
        margin-top: 3%;
        position: relative;
        animation-duration: 2.5s;
        animation-delay: 2s;
        animation-name: about-us-container1;
        opacity: 0%;
        animation-fill-mode: forwards;
        margin-bottom: 12%;
    }
    #aboutUsButton {
        border-radius: 50px;
        padding: 10px 10px;
        color: white;
        background: linear-gradient(0deg, rgb(74, 173, 63) 11%, rgb(59, 160, 50) 50%, rgb(48, 122, 39) 100%);
        border: none;
        font-size: 18px;
        font-family: 'Raleway';
        cursor: pointer;
        transition-duration: 0.5s;
    }
    #aboutUsButton:hover {
        background: linear-gradient(0deg, rgba(75,157,66,1) 11%, rgba(57,157,47,1) 50%, rgba(50,129,42,1) 100%);
        transform: translateY(7%);
        transition-duration: 0.5s;
        color: white;
        border: 1px solid rgb(255, 255, 255);
    }
    
    /* ================== CONTAINER RIGHT SIDE ==================== */
    .about-us-container2 {
        display: none;
    }

    
    
    
    
    /* ========================== CARDS ============================ */
    .cards {
        background-color: rgb(224, 224, 224);
        width: 100%;
        padding-top: 16%;
        padding-bottom: 20%;
    
    }
    .cards-container {
        width: 84%;
        margin: auto;
        display: grid;
        gap: 26px;
    }
    /* =============== CARD 1 ==================== */
    .card1-title {
        font-size: 22px;
        font-family: 'Quicksand';
        padding-top: 4%;
        padding-left: 10%;
    }

    .card1-paragraph {
        font-size: 18px;
        font-family: 'Assistant';
        width: 100%;
        margin-top: 1%;
        padding: 1%;
        padding-left: 10%;
        padding-right: 10%;
    }
    .card1-img {
        margin-top: -6%;
        display: none;

    }
   
    
    
    
    
    
    /* =============== CARD 2 ==================== */
    .card2 {
        background-color: rgb(243, 243, 243);
        width: 100%;
        border: 6px solid rgb(255, 255, 255);
        border-radius: 10px;
        transition: 1s;
    }
    .card2:hover {
        background-color: rgb(255, 255, 255);
        transition: 1s;
    }
    .card2-title {
        font-size: 16px;
        font-family: 'Quicksand';
        padding-top: 4%;
        padding-left: 9%;
    }
    
    .card2-content {
        display: flex;
    
    }
    
    .card2-paragraph {
        font-size: 18px;
        font-family: 'Assistant';
        width: 100%;
        margin-top: 1%;
        padding: 1%;
        padding-left: 9.4%;
        padding-bottom: 12%;
    }
    .card2-img {
        margin-top: -3%;
        display: none;

    }
    .card2-img img {
        width: 72%;
        position: relative;
        left: 16%;
    }
    
    /* =============== CARD 3 ==================== */
    .card3 {
        background-color: rgb(243, 243, 243);
        width: 100%;
        border: 6px solid rgb(255, 255, 255);
        border-radius: 10px;
        transition: 1s;
    }
    .card3:hover {
        background-color: rgb(255, 255, 255);
        transition: 1s;
    }
    .card3-title {
        font-size: 16px;
        font-family: 'Quicksand';
        padding-top: 4%;
        padding-left: 9%;
    }
    
    
    .card3-content {
        display: flex;
    
    }
    .card3-paragraph {
        font-size: 18px;
        font-family: 'Assistant';
        width: 100%;
        margin-top: 1%;
        padding: 1%;
        padding-left: 10%;
    }
    .card3-img {
        margin-top: -3%;
        margin-bottom: 3%;
        display: none;

    }

    .card3-img img {
        width: 80%;
        position: relative;
        left: 12%;
    }
    .contact {
        display: flex;
        margin-top: 4%;
        margin-left: -14%;
    }
    .contact img {
        width: 18%;
        margin-top: -4%;
        margin-bottom: 12%;
    }

    
    /* =============== CARD 4 ==================== */
    .card4 {
        background-color: rgb(243, 243, 243);
        width: 100%;
        border: 6px solid rgb(255, 255, 255);
        grid-row: 1;
        grid-column: 1;
        border-radius: 10px;
        transition: 1s;
    
    }
    .card4-title {
        font-size: 20px;
    }
    
    .card4-img {
        display: none;
    }

    .card4-button {
        margin-left: 23%;
        margin-top: 4%;
        margin-bottom: 4%;
    }
    .card4-button button {
        border-radius: 50px;
        padding: 3%;
        border: 1px solid rgb(196, 196, 196);
        cursor: pointer;
        background-color: rgb(255, 255, 255);
        font-size: 15px;
        font-family: 'Raleway';
        transition-duration: 0.5s;
    }
    
    .information-list {
        margin-left: 9%;
    }
    .information-list li{
        font-size: 14px;
        list-style: none;
        margin-left: -9%;
    }
}






























/* SMARTPHONE LARGER */
@media (min-width: 425px) and (max-width: 768px) {
    * {
        padding: 0%;
        margin: 0%;
    }
    
    
    
    
    
    
    /* ================== SECTION 1 =================== */
    .about-us {
        width: 90%;
        display: flex;
        margin-top: 12%;
        margin: auto;
    }
    
    /* ================== CONTAINER LEFT SIDE ==================== */
    .about-us-container1 {
        flex: 1;
        margin-left: 10%;
    
    }
    @keyframes about-us-container1 {
        from {
            right: 100%;
            opacity: 0;
        }
    
        to {
            right: 0%;
            opacity: 1;
        }
    }
    
    
    .about-us-container1 {
        margin: auto;
        
    }
    .about-us-container1 h1 {
        font-size: 50px;
        font-family: 'Quicksand';
        position: relative;
        animation-duration: 2.5s;
        animation-name: about-us-container1;
    }
    .about-us-title {
        text-align: center;
        margin-top: 4%;
    }

    
    .about-us-paragraph p {
        font-size: 18px;
        font-family: 'Assistant';
        line-height: 30px;
        text-align: center;
        color: rgb(78, 78, 78);

    }
    .about-us-button {
        text-align: center;
        margin-top: 3%;
        position: relative;
        animation-duration: 2.5s;
        animation-delay: 2s;
        animation-name: about-us-container1;
        opacity: 0%;
        animation-fill-mode: forwards;
        margin-bottom: 12%;
    }
    #aboutUsButton {
        border-radius: 50px;
        padding: 10px 10px;
        color: white;
        background: linear-gradient(0deg, rgb(74, 173, 63) 11%, rgb(59, 160, 50) 50%, rgb(48, 122, 39) 100%);
        border: none;
        font-size: 18px;
        font-family: 'Raleway';
        cursor: pointer;
        transition-duration: 0.5s;
    }
    #aboutUsButton:hover {
        background: linear-gradient(0deg, rgba(75,157,66,1) 11%, rgba(57,157,47,1) 50%, rgba(50,129,42,1) 100%);
        transform: translateY(7%);
        transition-duration: 0.5s;
        color: white;
        border: 1px solid rgb(255, 255, 255);
    }
    
    /* ================== CONTAINER RIGHT SIDE ==================== */
    .about-us-container2 {
        display: none;
    }

    
    
    
    
    /* ========================== CARDS ============================ */
    .cards {
        background-color: rgb(224, 224, 224);
        width: 100%;
        padding-top: 16%;
        padding-bottom: 20%;
    
    }
    .cards-container {
        width: 84%;
        margin: auto;
        display: grid;
        gap: 26px;
    }
    /* =============== CARD 1 ==================== */
    .card1-title {
        font-size: 22px;
        font-family: 'Quicksand';
        padding-top: 4%;
        padding-left: 10%;
    }

    .card1-paragraph {
        font-size: 18px;
        font-family: 'Assistant';
        width: 100%;
        margin-top: 1%;
        padding: 1%;
        padding-left: 10%;
        padding-right: 10%;
    }
    .card1-img {
        margin-top: -6%;
        display: none;

    }
   
    
    
    
    
    
    /* =============== CARD 2 ==================== */
    .card2 {
        background-color: rgb(243, 243, 243);
        width: 100%;
        border: 6px solid rgb(255, 255, 255);
        border-radius: 10px;
        transition: 1s;
    }
    .card2:hover {
        background-color: rgb(255, 255, 255);
        transition: 1s;
    }
    .card2-title {
        font-size: 16px;
        font-family: 'Quicksand';
        padding-top: 4%;
        padding-left: 9%;
    }
    
    .card2-content {
        display: flex;
    
    }
    
    .card2-paragraph {
        font-size: 18px;
        font-family: 'Assistant';
        width: 100%;
        margin-top: 1%;
        padding: 1%;
        padding-left: 9.4%;
        padding-bottom: 12%;
    }
    .card2-img {
        margin-top: -3%;
        display: none;

    }
    .card2-img img {
        width: 72%;
        position: relative;
        left: 16%;
    }
    
    /* =============== CARD 3 ==================== */
    .card3 {
        background-color: rgb(243, 243, 243);
        width: 100%;
        border: 6px solid rgb(255, 255, 255);
        border-radius: 10px;
        transition: 1s;
    }
    .card3:hover {
        background-color: rgb(255, 255, 255);
        transition: 1s;
    }
    .card3-title {
        font-size: 16px;
        font-family: 'Quicksand';
        padding-top: 4%;
        padding-left: 9%;
    }
    
    
    .card3-content {
        display: flex;
    
    }
    .card3-paragraph {
        font-size: 18px;
        font-family: 'Assistant';
        width: 100%;
        margin-top: 1%;
        padding: 1%;
        padding-left: 10%;
    }
    .card3-img {
        margin-top: -3%;
        margin-bottom: 3%;
        display: none;

    }

    .card3-img img {
        width: 80%;
        position: relative;
        left: 12%;
    }
    .contact {
        display: flex;
        margin-top: 4%;
        margin-left: -14%;
    }
    .contact img {
        width: 18%;
        margin-top: -4%;
        margin-bottom: 12%;
    }

    
    /* =============== CARD 4 ==================== */
    .card4 {
        background-color: rgb(243, 243, 243);
        width: 100%;
        border: 6px solid rgb(255, 255, 255);
        grid-row: 1;
        grid-column: 1;
        border-radius: 10px;
        transition: 1s;
    
    }
    .card4-title {
        font-size: 20px;
    }
    
    .card4-img {
        display: none;
    }

    .card4-button {
        margin-left: 23%;
        margin-top: 4%;
        margin-bottom: 4%;
    }
    .card4-button button {
        border-radius: 50px;
        padding: 3%;
        border: 1px solid rgb(196, 196, 196);
        cursor: pointer;
        background-color: rgb(255, 255, 255);
        font-size: 15px;
        font-family: 'Raleway';
        transition-duration: 0.5s;
    }
    
    .information-list {
        margin-left: 9%;
    }
    .information-list li{
        font-size: 14px;
        list-style: none;
        margin-left: -9%;
    }
}







































































/* LAPTOP SMALL */
@media (min-width: 768px) and (max-width: 1024px) {
    * {
        padding: 0%;
        margin: 0%;
    }
    
    
    
    
    
    
    /* ================== SECTION 1 =================== */
    .about-us {
        width: 90%;
        display: flex;
        margin-top: 12%;
        margin: auto;
    }
    
    /* ================== CONTAINER LEFT SIDE ==================== */
    .about-us-container1 {
        flex: 1;
        margin-left: 10%;
    
    }
    @keyframes about-us-container1 {
        from {
            right: 100%;
            opacity: 0;
        }
    
        to {
            right: 0%;
            opacity: 1;
        }
    }
    
    
    .about-us-container1 {
        margin: auto;
        
    }
    .about-us-container1 h1 {
        font-size: 50px;
        font-family: 'Quicksand';
        position: relative;
        animation-duration: 2.5s;
        animation-name: about-us-container1;
    }
    .about-us-title {
        text-align: center;
        margin-top: 4%;
    }

    
    .about-us-paragraph p {
        font-size: 18px;
        font-family: 'Assistant';
        line-height: 30px;
        text-align: center;
        color: rgb(78, 78, 78);

    }
    .about-us-button {
        text-align: center;
        margin-top: 3%;
        position: relative;
        animation-duration: 2.5s;
        animation-delay: 2s;
        animation-name: about-us-container1;
        opacity: 0%;
        animation-fill-mode: forwards;
        margin-bottom: 12%;
    }
    #aboutUsButton {
        border-radius: 50px;
        padding: 10px 10px;
        color: white;
        background: linear-gradient(0deg, rgb(74, 173, 63) 11%, rgb(59, 160, 50) 50%, rgb(48, 122, 39) 100%);
        border: none;
        font-size: 18px;
        font-family: 'Raleway';
        cursor: pointer;
        transition-duration: 0.5s;
    }
    #aboutUsButton:hover {
        background: linear-gradient(0deg, rgba(75,157,66,1) 11%, rgba(57,157,47,1) 50%, rgba(50,129,42,1) 100%);
        transform: translateY(7%);
        transition-duration: 0.5s;
        color: white;
        border: 1px solid rgb(255, 255, 255);
    }
    
    /* ================== CONTAINER RIGHT SIDE ==================== */
    .about-us-container2 {
        display: none;
    }

    
    
    
    
    /* ========================== CARDS ============================ */
    .cards {
        background-color: rgb(224, 224, 224);
        width: 100%;
        padding-top: 16%;
        padding-bottom: 20%;
    
    }
    .cards-container {
        width: 84%;
        margin: auto;
        display: grid;
        gap: 26px;
    }
    /* =============== CARD 1 ==================== */
    .card1-title {
        font-size: 22px;
        font-family: 'Quicksand';
        padding-top: 4%;
        padding-left: 10%;
    }

    .card1-paragraph {
        font-size: 18px;
        font-family: 'Assistant';
        width: 100%;
        margin-top: 1%;
        padding: 1%;
        padding-left: 10%;
        padding-right: 10%;
    }
    .card1-img {
        margin-top: -6%;
        display: none;

    }
   
    
    
    
    
    
    /* =============== CARD 2 ==================== */
    .card2 {
        background-color: rgb(243, 243, 243);
        width: 100%;
        border: 6px solid rgb(255, 255, 255);
        border-radius: 10px;
        transition: 1s;
    }
    .card2:hover {
        background-color: rgb(255, 255, 255);
        transition: 1s;
    }
    .card2-title {
        font-size: 16px;
        font-family: 'Quicksand';
        padding-top: 4%;
        padding-left: 9%;
    }
    
    .card2-content {
        display: flex;
    
    }
    
    .card2-paragraph {
        font-size: 18px;
        font-family: 'Assistant';
        width: 100%;
        margin-top: 1%;
        padding: 1%;
        padding-left: 9.4%;
        padding-bottom: 12%;
    }
    .card2-img {
        margin-top: -3%;
        display: none;

    }
    .card2-img img {
        width: 72%;
        position: relative;
        left: 16%;
    }
    
    /* =============== CARD 3 ==================== */
    .card3 {
        background-color: rgb(243, 243, 243);
        width: 100%;
        border: 6px solid rgb(255, 255, 255);
        border-radius: 10px;
        transition: 1s;
    }
    .card3:hover {
        background-color: rgb(255, 255, 255);
        transition: 1s;
    }
    .card3-title {
        font-size: 16px;
        font-family: 'Quicksand';
        padding-top: 4%;
        padding-left: 9%;
    }
    
    
    .card3-content {
        display: flex;
    
    }
    .card3-paragraph {
        font-size: 18px;
        font-family: 'Assistant';
        width: 100%;
        margin-top: 1%;
        padding: 1%;
        padding-left: 10%;
    }
    .card3-img {
        margin-top: -3%;
        margin-bottom: 3%;
        display: none;

    }

    .card3-img img {
        width: 80%;
        position: relative;
        left: 12%;
    }
    .contact {
        display: flex;
        margin-top: 4%;
        margin-left: 5%;
    }
    .contact img {
        width: 18%;
        margin-top: -4%;
        margin-bottom: 12%;
    }

    
    /* =============== CARD 4 ==================== */
    .card4 {
        background-color: rgb(243, 243, 243);
        width: 100%;
        border: 6px solid rgb(255, 255, 255);
        grid-row: 1;
        grid-column: 1;
        border-radius: 10px;
        transition: 1s;
    
    }
    .card4-title {
        font-size: 20px;
    }
    
    .card4-img {
        display: none;
    }

    .card4-button {
        margin-left: 23%;
        margin-top: 4%;
        margin-bottom: 4%;
    }
    .card4-button button {
        border-radius: 50px;
        padding: 3%;
        border: 1px solid rgb(196, 196, 196);
        cursor: pointer;
        background-color: rgb(255, 255, 255);
        font-size: 15px;
        font-family: 'Raleway';
        transition-duration: 0.5s;
    }
    
    .information-list {
        margin-left: 9%;
    }
    .information-list li {
        font-size: 14px;
        list-style: none;
        margin-left: -9%;
    }
}





























/* LAPTOP */
@media (min-width: 1024px) and (max-width: 1440px) {


    #aboutUsButton {
        border-radius: 50px;
        padding: 14px;
        color: white;
        background: linear-gradient(0deg, rgb(74, 173, 63) 11%, rgb(59, 160, 50) 50%, rgb(48, 122, 39) 100%);
        border: none;
        font-size: 16px;
        font-family: 'Raleway';
        cursor: pointer;
        transition-duration: 0.5s;
        margin-bottom: 8%;
    }
    #aboutUsButton:hover {
        background: linear-gradient(0deg, rgba(75,157,66,1) 11%, rgba(57,157,47,1) 50%, rgba(50,129,42,1) 100%);
        transform: translateY(7%);
        transition-duration: 0.5s;
        color: white;
        border: 1px solid rgb(255, 255, 255);
    }



    /* ========================== CARDS ============================ */
    .cards {
        background-color: rgb(224, 224, 224);
        width: 100%;
        padding-top: 4%;
        padding-bottom: 6%;

    }
    .cards-container {
        width: 88%;
        margin: auto;
        display: grid;
        gap: 26px;
    }



    
    /* =============== CARD 3 ==================== */

    .contact {
        display: flex;
        margin-top: 5%;
        margin-left: -4%;
    }
    .contact img {
        width: 18%;
        margin-top: -3%;
    }


    /* =============== CARD 4 ==================== */




    .card4-button {
        margin-left: 33%;
        margin-top: 4%;
        margin-bottom: 4%;
    }

    .information-list {
        text-align: left;
        margin-left: 8%;
    }
 



}



    
