@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Tela de iício, onde vai ter um exemplo com o volume da bacia e outro com uma tabela de orçamento</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <h4>Seja ben-vino ao ECCUSBET versão Web. Ao lado temos um exemplo de dimensionamento com orçamento.</h4>
    <h4>
        Os dados foram retirados do artigo: IMPLANTAÇÃO DE UM SISTEMA TRATAMENTO DE ESGOTO, ATRAVÉS DE
        BACIA DE EVAPOTRANSPIRAÇÃO NA COMUNIDADE DE SANTA LUZIA NA
        ILHA DO BAIXIO, IRANDUBA/AM
    </h4>
    <h5>
        Autor: Paulo Ricielli Batista Costa, Graduando de Engenharia Civil, Centro Universitário do
        Norte - UNINORTE, Manaus, e-mail: pauloricielli@gmail.com.
    </h5>
    <h5>
        Orientador: Mauro Frank Oguino Coelho, Professor Orientador, Centro Universitário do Norte -
        UNINORTE, Manaus, e-mail: mfocoelho@yahoo.com.br
    </h5>
</div>
